<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">
    
    <context:property-placeholder location="classpath:/props/config-dev.properties" file-encoding="utf-8" ignore-unresolvable="true"/>
	<!-- cache使用的redis配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.maxIdle}" />
		<property name="minIdle" value="${redis.minIdle}" />
		<property name="maxTotal" value="${redis.maxTotal}" />
		<property name="testOnBorrow" value="${redis.testOnBorrow}" />
	</bean>
	<bean id="cacheRedis" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory">
			<bean
				class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
				p:host-name="${redis.host}" p:port="${redis.port}" p:password="${redis.pass}"
				p:pool-config-ref="jedisPoolConfig" />
		</property>
	</bean>
    <bean id="cacheTemplate" class="com.wangqin.globalshop.common.redis.RedisCacheTemplate"
		abstract="true">
		<property name="cacheRedis" ref="cacheRedis" />
	</bean>
	<bean id="loginCache" parent="cacheTemplate">
		<property name="prefix" value="login" />
		<property name="expiry" value="86400" />
	</bean>
</beans>
