<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ChannelAccountDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ChannelAccountDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="channel_id" property="channelId" jdbcType="BIGINT" />
    <result column="channel_no" property="channelNo" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
    <result column="company_no" property="companyNo" jdbcType="VARCHAR" />
    <result column="shop_code" property="shopCode" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="app_secret" property="appSecret" jdbcType="VARCHAR" />
    <result column="access_token" property="accessToken" jdbcType="VARCHAR" />
    <result column="refresh_token" property="refreshToken" jdbcType="VARCHAR" />
    <result column="server_url" property="serverUrl" jdbcType="VARCHAR" />
    <result column="token_url" property="tokenUrl" jdbcType="VARCHAR" />
    <result column="access_key" property="accessKey" jdbcType="VARCHAR" />
    <result column="secrete_key" property="secreteKey" jdbcType="VARCHAR" />
    <result column="cookie" property="cookie" jdbcType="VARCHAR" />
    <result column="app_value1" property="appValue1" jdbcType="VARCHAR" />
    <result column="value1_desc" property="value1Desc" jdbcType="VARCHAR" />
    <result column="app_value2" property="appValue2" jdbcType="VARCHAR" />
    <result column="value2_desc" property="value2Desc" jdbcType="VARCHAR" />
    <result column="app_value3" property="appValue3" jdbcType="VARCHAR" />
    <result column="value3_desc" property="value3Desc" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, channel_id, channel_no, type, channel_name, company_no, shop_code, shop_name, 
    status, app_key, app_secret, access_token, refresh_token, server_url, token_url, 
    access_key, secrete_key, cookie, app_value1, value1_desc, app_value2, value2_desc, 
    app_value3, value3_desc, creator, modifier, gmt_create, gmt_modify, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from channel_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from channel_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ChannelAccountDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into channel_account (id, channel_id, channel_no, 
      type, channel_name, company_no, 
      shop_code, shop_name, status, 
      app_key, app_secret, access_token, 
      refresh_token, server_url, token_url, 
      access_key, secrete_key, cookie, 
      app_value1, value1_desc, app_value2, 
      value2_desc, app_value3, value3_desc, 
      creator, modifier, gmt_create, 
      gmt_modify, is_del)
    values (#{id,jdbcType=BIGINT}, #{channelId,jdbcType=BIGINT}, #{channelNo,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{channelName,jdbcType=VARCHAR}, #{companyNo,jdbcType=VARCHAR}, 
      #{shopCode,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{appKey,jdbcType=VARCHAR}, #{appSecret,jdbcType=VARCHAR}, #{accessToken,jdbcType=VARCHAR}, 
      #{refreshToken,jdbcType=VARCHAR}, #{serverUrl,jdbcType=VARCHAR}, #{tokenUrl,jdbcType=VARCHAR}, 
      #{accessKey,jdbcType=VARCHAR}, #{secreteKey,jdbcType=VARCHAR}, #{cookie,jdbcType=VARCHAR}, 
      #{appValue1,jdbcType=VARCHAR}, #{value1Desc,jdbcType=VARCHAR}, #{appValue2,jdbcType=VARCHAR}, 
      #{value2Desc,jdbcType=VARCHAR}, #{appValue3,jdbcType=VARCHAR}, #{value3Desc,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{isDel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ChannelAccountDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into channel_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="channelNo != null" >
        channel_no,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="channelName != null" >
        channel_name,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="shopCode != null" >
        shop_code,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="appKey != null" >
        app_key,
      </if>
      <if test="appSecret != null" >
        app_secret,
      </if>
      <if test="accessToken != null" >
        access_token,
      </if>
      <if test="refreshToken != null" >
        refresh_token,
      </if>
      <if test="serverUrl != null" >
        server_url,
      </if>
      <if test="tokenUrl != null" >
        token_url,
      </if>
      <if test="accessKey != null" >
        access_key,
      </if>
      <if test="secreteKey != null" >
        secrete_key,
      </if>
      <if test="cookie != null" >
        cookie,
      </if>
      <if test="appValue1 != null" >
        app_value1,
      </if>
      <if test="value1Desc != null" >
        value1_desc,
      </if>
      <if test="appValue2 != null" >
        app_value2,
      </if>
      <if test="value2Desc != null" >
        value2_desc,
      </if>
      <if test="appValue3 != null" >
        app_value3,
      </if>
      <if test="value3Desc != null" >
        value3_desc,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=BIGINT},
      <if test="channelId != null" >
        #{channelId,jdbcType=BIGINT},
      </if>
      <if test="channelNo != null" >
        #{channelNo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null" >
        #{shopCode,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="appKey != null" >
        #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null" >
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null" >
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null" >
        #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="serverUrl != null" >
        #{serverUrl,jdbcType=VARCHAR},
      </if>
      <if test="tokenUrl != null" >
        #{tokenUrl,jdbcType=VARCHAR},
      </if>
      <if test="accessKey != null" >
        #{accessKey,jdbcType=VARCHAR},
      </if>
      <if test="secreteKey != null" >
        #{secreteKey,jdbcType=VARCHAR},
      </if>
      <if test="cookie != null" >
        #{cookie,jdbcType=VARCHAR},
      </if>
      <if test="appValue1 != null" >
        #{appValue1,jdbcType=VARCHAR},
      </if>
      <if test="value1Desc != null" >
        #{value1Desc,jdbcType=VARCHAR},
      </if>
      <if test="appValue2 != null" >
        #{appValue2,jdbcType=VARCHAR},
      </if>
      <if test="value2Desc != null" >
        #{value2Desc,jdbcType=VARCHAR},
      </if>
      <if test="appValue3 != null" >
        #{appValue3,jdbcType=VARCHAR},
      </if>
      <if test="value3Desc != null" >
        #{value3Desc,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ChannelAccountDO" >
    update channel_account
    <set >
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=BIGINT},
      </if>
      <if test="channelNo != null" >
        channel_no = #{channelNo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="channelName != null" >
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null" >
        shop_code = #{shopCode,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="appKey != null" >
        app_key = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null" >
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null" >
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null" >
        refresh_token = #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="serverUrl != null" >
        server_url = #{serverUrl,jdbcType=VARCHAR},
      </if>
      <if test="tokenUrl != null" >
        token_url = #{tokenUrl,jdbcType=VARCHAR},
      </if>
      <if test="accessKey != null" >
        access_key = #{accessKey,jdbcType=VARCHAR},
      </if>
      <if test="secreteKey != null" >
        secrete_key = #{secreteKey,jdbcType=VARCHAR},
      </if>
      <if test="cookie != null" >
        cookie = #{cookie,jdbcType=VARCHAR},
      </if>
      <if test="appValue1 != null" >
        app_value1 = #{appValue1,jdbcType=VARCHAR},
      </if>
      <if test="value1Desc != null" >
        value1_desc = #{value1Desc,jdbcType=VARCHAR},
      </if>
      <if test="appValue2 != null" >
        app_value2 = #{appValue2,jdbcType=VARCHAR},
      </if>
      <if test="value2Desc != null" >
        value2_desc = #{value2Desc,jdbcType=VARCHAR},
      </if>
      <if test="appValue3 != null" >
        app_value3 = #{appValue3,jdbcType=VARCHAR},
      </if>
      <if test="value3Desc != null" >
        value3_desc = #{value3Desc,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ChannelAccountDO" >
    update channel_account
    set channel_id = #{channelId,jdbcType=BIGINT},
      channel_no = #{channelNo,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      channel_name = #{channelName,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      shop_code = #{shopCode,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      app_key = #{appKey,jdbcType=VARCHAR},
      app_secret = #{appSecret,jdbcType=VARCHAR},
      access_token = #{accessToken,jdbcType=VARCHAR},
      refresh_token = #{refreshToken,jdbcType=VARCHAR},
      server_url = #{serverUrl,jdbcType=VARCHAR},
      token_url = #{tokenUrl,jdbcType=VARCHAR},
      access_key = #{accessKey,jdbcType=VARCHAR},
      secrete_key = #{secreteKey,jdbcType=VARCHAR},
      cookie = #{cookie,jdbcType=VARCHAR},
      app_value1 = #{appValue1,jdbcType=VARCHAR},
      value1_desc = #{value1Desc,jdbcType=VARCHAR},
      app_value2 = #{appValue2,jdbcType=VARCHAR},
      value2_desc = #{value2Desc,jdbcType=VARCHAR},
      app_value3 = #{appValue3,jdbcType=VARCHAR},
      value3_desc = #{value3Desc,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>