<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<import resource="../dal/spring-dal.xml" />
	<!--<import resource="spring-dubbo-provider.xml"/>-->
	<mvc:interceptors>
		<mvc:interceptor>
	            <mvc:mapping path="/**" />
			    <mvc:exclude-mapping path="/login" />
	            <bean class="com.wangqin.globalshop.biz1.app.aop.SessionInterceptor">
	                    <property name="sessionIDName" value="SessionID" />
	                    <property name="domain" value="" />
	            </bean>
	    </mvc:interceptor>
	    <mvc:interceptor>
	            <mvc:mapping path="/**" />
	            <bean class="com.wangqin.globalshop.biz1.app.aop.AuthenticateInterceptor">
	                    <property name="sessionIDName" value="SessionID" />
	            </bean>
	    </mvc:interceptor>
    </mvc:interceptors>
</beans>
