<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.BuyerReceiptMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, buyer_task_no AS buyerTaskNo, receipt_no AS receiptNo, total_price AS totalPrice, currency, gmt_create AS gmtCreate, gmt_modify AS gmtModify, purchase_storage_no AS purchaseStorageNo, `status`, buyer_id AS buyerId, is_del AS isDel, creator, modifier
	</sql>

</mapper>