<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.BuyerTaskDetailDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerTaskDetailDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="buyer_task_no" property="buyerTaskNo" jdbcType="VARCHAR" />
    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="upc" property="upc" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="max_price" property="maxPrice" jdbcType="DECIMAL" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="owner_name" property="ownerName" jdbcType="VARCHAR" />
    <result column="owner_no" property="ownerNo" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="TINYINT" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="buyer_open_id" property="buyerOpenId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="mode" property="mode" jdbcType="TINYINT" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="max_count" property="maxCount" jdbcType="INTEGER" />
    <result column="sku_pic_url" property="skuPicUrl" jdbcType="VARCHAR" />
    <result column="entry_count" property="entryCount" jdbcType="INTEGER" />
    <result column="upc_pass_reason" property="upcPassReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, buyer_task_no, item_code, upc, price, max_price, count, owner_name, owner_no, 
    currency, buyer_name, buyer_open_id, status, start_time, end_time, mode, sku_code, 
    remark, max_count, sku_pic_url, entry_count, upc_pass_reason
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from buyer_task_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from buyer_task_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerTaskDetailDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into buyer_task_detail (buyer_task_no, item_code, upc, 
      price, max_price, count, 
      owner_name, owner_no, currency, 
      buyer_name, buyer_open_id, status, 
      start_time, end_time, mode, 
      sku_code, remark, max_count, 
      sku_pic_url, entry_count, upc_pass_reason
      )
    values (#{buyerTaskNo,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, #{upc,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{maxPrice,jdbcType=DECIMAL}, #{count,jdbcType=INTEGER}, 
      #{ownerName,jdbcType=VARCHAR}, #{ownerNo,jdbcType=VARCHAR}, #{currency,jdbcType=TINYINT}, 
      #{buyerName,jdbcType=VARCHAR}, #{buyerOpenId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{mode,jdbcType=TINYINT}, 
      #{skuCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{maxCount,jdbcType=INTEGER}, 
      #{skuPicUrl,jdbcType=VARCHAR}, #{entryCount,jdbcType=INTEGER}, #{upcPassReason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerTaskDetailDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into buyer_task_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buyerTaskNo != null" >
        buyer_task_no,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="upc != null" >
        upc,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="maxPrice != null" >
        max_price,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="ownerName != null" >
        owner_name,
      </if>
      <if test="ownerNo != null" >
        owner_no,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="buyerOpenId != null" >
        buyer_open_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="mode != null" >
        mode,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="maxCount != null" >
        max_count,
      </if>
      <if test="skuPicUrl != null" >
        sku_pic_url,
      </if>
      <if test="entryCount != null" >
        entry_count,
      </if>
      <if test="upcPassReason != null" >
        upc_pass_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buyerTaskNo != null" >
        #{buyerTaskNo,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="upc != null" >
        #{upc,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null" >
        #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null" >
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="ownerNo != null" >
        #{ownerNo,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=TINYINT},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerOpenId != null" >
        #{buyerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mode != null" >
        #{mode,jdbcType=TINYINT},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="maxCount != null" >
        #{maxCount,jdbcType=INTEGER},
      </if>
      <if test="skuPicUrl != null" >
        #{skuPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="entryCount != null" >
        #{entryCount,jdbcType=INTEGER},
      </if>
      <if test="upcPassReason != null" >
        #{upcPassReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerTaskDetailDO" >
    update buyer_task_detail
    <set >
      <if test="buyerTaskNo != null" >
        buyer_task_no = #{buyerTaskNo,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="upc != null" >
        upc = #{upc,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null" >
        max_price = #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null" >
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="ownerNo != null" >
        owner_no = #{ownerNo,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=TINYINT},
      </if>
      <if test="buyerName != null" >
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerOpenId != null" >
        buyer_open_id = #{buyerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mode != null" >
        mode = #{mode,jdbcType=TINYINT},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="maxCount != null" >
        max_count = #{maxCount,jdbcType=INTEGER},
      </if>
      <if test="skuPicUrl != null" >
        sku_pic_url = #{skuPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="entryCount != null" >
        entry_count = #{entryCount,jdbcType=INTEGER},
      </if>
      <if test="upcPassReason != null" >
        upc_pass_reason = #{upcPassReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerTaskDetailDO" >
    update buyer_task_detail
    set buyer_task_no = #{buyerTaskNo,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      max_price = #{maxPrice,jdbcType=DECIMAL},
      count = #{count,jdbcType=INTEGER},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      owner_no = #{ownerNo,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=TINYINT},
      buyer_name = #{buyerName,jdbcType=VARCHAR},
      buyer_open_id = #{buyerOpenId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      mode = #{mode,jdbcType=TINYINT},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      max_count = #{maxCount,jdbcType=INTEGER},
      sku_pic_url = #{skuPicUrl,jdbcType=VARCHAR},
      entry_count = #{entryCount,jdbcType=INTEGER},
      upc_pass_reason = #{upcPassReason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>