<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.BuyerTaskDetailMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, buyer_task_no AS buyerTaskNo, item_code AS itemCode, upc, price, max_price AS maxPrice, `count`, owner_name AS ownerName, owner_no AS ownerNo, currency, buyer_name AS buyerName, buyer_open_id AS buyerOpenId, `status`, start_time AS startTime, end_time AS endTime, `mode`, sku_code AS skuCode, `desc`, max_count AS maxCount, sku_pic_url AS skuPicUrl, entry_count AS entryCount, upc_pass_reason AS upcPassReason, gmt_create AS gmtCreate, gmt_modify AS gmtModify, is_del AS isDel, creator, modifier
	</sql>

</mapper>