<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.BuyerTaskDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerTaskDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="buyer_task_no" property="buyerTaskNo" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="owner_no" property="ownerNo" jdbcType="VARCHAR" />
    <result column="company_no" property="companyNo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="purchase_commission_mode" property="purchaseCommissionMode" jdbcType="BIGINT" />
    <result column="purchase_commission_str" property="purchaseCommissionStr" jdbcType="VARCHAR" />
    <result column="buyer_open_id" property="buyerOpenId" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, buyer_task_no, title, owner_no, company_no, remark, start_time, end_time, status, 
    buyer_name, purchase_commission_mode, purchase_commission_str, buyer_open_id, modifier, 
    creator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from buyer_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from buyer_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerTaskDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into buyer_task (buyer_task_no, title, owner_no, 
      company_no, remark, start_time, 
      end_time, status, buyer_name, 
      purchase_commission_mode, purchase_commission_str, 
      buyer_open_id, modifier, creator
      )
    values (#{buyerTaskNo,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{ownerNo,jdbcType=VARCHAR}, 
      #{companyNo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{buyerName,jdbcType=VARCHAR}, 
      #{purchaseCommissionMode,jdbcType=BIGINT}, #{purchaseCommissionStr,jdbcType=VARCHAR}, 
      #{buyerOpenId,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerTaskDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into buyer_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buyerTaskNo != null" >
        buyer_task_no,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="ownerNo != null" >
        owner_no,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="purchaseCommissionMode != null" >
        purchase_commission_mode,
      </if>
      <if test="purchaseCommissionStr != null" >
        purchase_commission_str,
      </if>
      <if test="buyerOpenId != null" >
        buyer_open_id,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buyerTaskNo != null" >
        #{buyerTaskNo,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="ownerNo != null" >
        #{ownerNo,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseCommissionMode != null" >
        #{purchaseCommissionMode,jdbcType=BIGINT},
      </if>
      <if test="purchaseCommissionStr != null" >
        #{purchaseCommissionStr,jdbcType=VARCHAR},
      </if>
      <if test="buyerOpenId != null" >
        #{buyerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerTaskDO" >
    update buyer_task
    <set >
      <if test="buyerTaskNo != null" >
        buyer_task_no = #{buyerTaskNo,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="ownerNo != null" >
        owner_no = #{ownerNo,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null" >
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseCommissionMode != null" >
        purchase_commission_mode = #{purchaseCommissionMode,jdbcType=BIGINT},
      </if>
      <if test="purchaseCommissionStr != null" >
        purchase_commission_str = #{purchaseCommissionStr,jdbcType=VARCHAR},
      </if>
      <if test="buyerOpenId != null" >
        buyer_open_id = #{buyerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerTaskDO" >
    update buyer_task
    set buyer_task_no = #{buyerTaskNo,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      owner_no = #{ownerNo,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      buyer_name = #{buyerName,jdbcType=VARCHAR},
      purchase_commission_mode = #{purchaseCommissionMode,jdbcType=BIGINT},
      purchase_commission_str = #{purchaseCommissionStr,jdbcType=VARCHAR},
      buyer_open_id = #{buyerOpenId,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>