<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.BuyerStorageDetailDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerStorageDetailDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="storage_no" property="storageNo" jdbcType="VARCHAR" />
    <result column="warehouse_no" property="warehouseNo" jdbcType="VARCHAR" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="shelf_no" property="shelfNo" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
    <result column="currency" property="currency" jdbcType="TINYINT" />
    <result column="upc" property="upc" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="trans_quantity" property="transQuantity" jdbcType="INTEGER" />
    <result column="purchase_storage_no" property="purchaseStorageNo" jdbcType="VARCHAR" />
    <result column="buyer_task_detail_no" property="buyerTaskDetailNo" jdbcType="VARCHAR" />
    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="sku_buysite" property="skuBuysite" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="mem" property="mem" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, storage_no, warehouse_no, warehouse_name, shelf_no, sku_code, price, total_price, 
    currency, upc, quantity, trans_quantity, purchase_storage_no, buyer_task_detail_no, 
    item_code, sku_buysite, creator, modifier, status, mem
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from buyer_storage_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from buyer_storage_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerStorageDetailDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into buyer_storage_detail (storage_no, warehouse_no, warehouse_name, 
      shelf_no, sku_code, price, 
      total_price, currency, upc, 
      quantity, trans_quantity, purchase_storage_no, 
      buyer_task_detail_no, item_code, sku_buysite, 
      creator, modifier, status, 
      mem)
    values (#{storageNo,jdbcType=VARCHAR}, #{warehouseNo,jdbcType=VARCHAR}, #{warehouseName,jdbcType=VARCHAR}, 
      #{shelfNo,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{totalPrice,jdbcType=DOUBLE}, #{currency,jdbcType=TINYINT}, #{upc,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{transQuantity,jdbcType=INTEGER}, #{purchaseStorageNo,jdbcType=VARCHAR}, 
      #{buyerTaskDetailNo,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, #{skuBuysite,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{mem,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerStorageDetailDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into buyer_storage_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storageNo != null" >
        storage_no,
      </if>
      <if test="warehouseNo != null" >
        warehouse_no,
      </if>
      <if test="warehouseName != null" >
        warehouse_name,
      </if>
      <if test="shelfNo != null" >
        shelf_no,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="upc != null" >
        upc,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="transQuantity != null" >
        trans_quantity,
      </if>
      <if test="purchaseStorageNo != null" >
        purchase_storage_no,
      </if>
      <if test="buyerTaskDetailNo != null" >
        buyer_task_detail_no,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="skuBuysite != null" >
        sku_buysite,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="mem != null" >
        mem,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storageNo != null" >
        #{storageNo,jdbcType=VARCHAR},
      </if>
      <if test="warehouseNo != null" >
        #{warehouseNo,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null" >
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="shelfNo != null" >
        #{shelfNo,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=TINYINT},
      </if>
      <if test="upc != null" >
        #{upc,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="transQuantity != null" >
        #{transQuantity,jdbcType=INTEGER},
      </if>
      <if test="purchaseStorageNo != null" >
        #{purchaseStorageNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerTaskDetailNo != null" >
        #{buyerTaskDetailNo,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="skuBuysite != null" >
        #{skuBuysite,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="mem != null" >
        #{mem,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerStorageDetailDO" >
    update buyer_storage_detail
    <set >
      <if test="storageNo != null" >
        storage_no = #{storageNo,jdbcType=VARCHAR},
      </if>
      <if test="warehouseNo != null" >
        warehouse_no = #{warehouseNo,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null" >
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="shelfNo != null" >
        shelf_no = #{shelfNo,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=TINYINT},
      </if>
      <if test="upc != null" >
        upc = #{upc,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="transQuantity != null" >
        trans_quantity = #{transQuantity,jdbcType=INTEGER},
      </if>
      <if test="purchaseStorageNo != null" >
        purchase_storage_no = #{purchaseStorageNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerTaskDetailNo != null" >
        buyer_task_detail_no = #{buyerTaskDetailNo,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="skuBuysite != null" >
        sku_buysite = #{skuBuysite,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="mem != null" >
        mem = #{mem,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.BuyerStorageDetailDO" >
    update buyer_storage_detail
    set storage_no = #{storageNo,jdbcType=VARCHAR},
      warehouse_no = #{warehouseNo,jdbcType=VARCHAR},
      warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      shelf_no = #{shelfNo,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      currency = #{currency,jdbcType=TINYINT},
      upc = #{upc,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      trans_quantity = #{transQuantity,jdbcType=INTEGER},
      purchase_storage_no = #{purchaseStorageNo,jdbcType=VARCHAR},
      buyer_task_detail_no = #{buyerTaskDetailNo,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      sku_buysite = #{skuBuysite,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      mem = #{mem,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>