<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.BuyerMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, company_no AS companyNo, open_id AS openId, union_id AS unionId, nick_name AS nickName, head_protrait_url AS headProtraitUrl, gender, city, province, country, referer, purchase_commission_mode AS purchaseCommissionMode, purchase_commission_str AS purchaseCommissionStr, first_login_time AS firstLoginTime, last_login_time AS lastLoginTime, gmt_create AS gmtCreate, gmt_modify AS gmtModify, is_del AS isDel, creator, modifier
	</sql>

</mapper>