<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ChannelSalePriceMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, channal_no AS channalNo, company_no AS companyNo, shop_code AS shopCode, sale_price AS salePrice, sku_code AS skuCode, item_code AS itemCode, batch_no AS batchNo, gmt_create AS gmtCreate, gmt_modify AS gmtModify, creator, modifier, is_del AS isDel
	</sql>

</mapper>