<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ChannelDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ChannelDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="channel_no" property="channelNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_email" property="contactEmail" jdbcType="VARCHAR" />
    <result column="contact_url" property="contactUrl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="sale_level" property="saleLevel" jdbcType="VARCHAR" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
    <result column="discount1" property="discount1" jdbcType="DOUBLE" />
    <result column="discount2" property="discount2" jdbcType="DOUBLE" />
    <result column="discount3" property="discount3" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, channel_no, name, type, contact_mobile, contact_name, contact_email, contact_url, 
    remark, modifier, creator, sale_level, discount, discount1, discount2, discount3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from channel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from channel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ChannelDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into channel (channel_no, name, type, 
      contact_mobile, contact_name, contact_email, 
      contact_url, remark, modifier, 
      creator, sale_level, discount, 
      discount1, discount2, discount3
      )
    values (#{channelNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{contactMobile,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, 
      #{contactUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{saleLevel,jdbcType=VARCHAR}, #{discount,jdbcType=DOUBLE}, 
      #{discount1,jdbcType=DOUBLE}, #{discount2,jdbcType=DOUBLE}, #{discount3,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ChannelDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="channelNo != null" >
        channel_no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="contactMobile != null" >
        contact_mobile,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactEmail != null" >
        contact_email,
      </if>
      <if test="contactUrl != null" >
        contact_url,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="saleLevel != null" >
        sale_level,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="discount1 != null" >
        discount1,
      </if>
      <if test="discount2 != null" >
        discount2,
      </if>
      <if test="discount3 != null" >
        discount3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="channelNo != null" >
        #{channelNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactUrl != null" >
        #{contactUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="saleLevel != null" >
        #{saleLevel,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="discount1 != null" >
        #{discount1,jdbcType=DOUBLE},
      </if>
      <if test="discount2 != null" >
        #{discount2,jdbcType=DOUBLE},
      </if>
      <if test="discount3 != null" >
        #{discount3,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ChannelDO" >
    update channel
    <set >
      <if test="channelNo != null" >
        channel_no = #{channelNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactUrl != null" >
        contact_url = #{contactUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="saleLevel != null" >
        sale_level = #{saleLevel,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="discount1 != null" >
        discount1 = #{discount1,jdbcType=DOUBLE},
      </if>
      <if test="discount2 != null" >
        discount2 = #{discount2,jdbcType=DOUBLE},
      </if>
      <if test="discount3 != null" >
        discount3 = #{discount3,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ChannelDO" >
    update channel
    set channel_no = #{channelNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      contact_url = #{contactUrl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      sale_level = #{saleLevel,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=DOUBLE},
      discount1 = #{discount1,jdbcType=DOUBLE},
      discount2 = #{discount2,jdbcType=DOUBLE},
      discount3 = #{discount3,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>