<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ChannelAccountMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, channel_id AS channelId, channel_no AS channelNo, `type`, channel_name AS channelName, company_no AS companyNo, shop_code AS shopCode, shop_name AS shopName, `status`, app_key AS appKey, app_secret AS appSecret, access_token AS accessToken, refresh_token AS refreshToken, server_url AS serverUrl, token_url AS tokenUrl, access_key AS accessKey, secrete_key AS secreteKey, cookie, app_value1 AS appValue1, value1_desc AS value1Desc, app_value2 AS appValue2, value2_desc AS value2Desc, app_value3 AS appValue3, value3_desc AS value3Desc, creator, modifier, gmt_create AS gmtCreate, gmt_modify AS gmtModify, is_del AS isDel
	</sql>

</mapper>