<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.CountryDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.CountryDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="country_code" property="countryCode" jdbcType="VARCHAR" />
    <result column="length_unit" property="lengthUnit" jdbcType="VARCHAR" />
    <result column="volume_unit" property="volumeUnit" jdbcType="VARCHAR" />
    <result column="weight_unit" property="weightUnit" jdbcType="VARCHAR" />
    <result column="money_unit" property="moneyUnit" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, country_code, length_unit, volume_unit, weight_unit, money_unit, creator, 
    modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from country
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from country
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.CountryDO" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into country (name, country_code, length_unit, 
      volume_unit, weight_unit, money_unit, 
      creator, modifier)
    values (#{name,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR}, #{lengthUnit,jdbcType=VARCHAR}, 
      #{volumeUnit,jdbcType=VARCHAR}, #{weightUnit,jdbcType=VARCHAR}, #{moneyUnit,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.CountryDO" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into country
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="countryCode != null" >
        country_code,
      </if>
      <if test="lengthUnit != null" >
        length_unit,
      </if>
      <if test="volumeUnit != null" >
        volume_unit,
      </if>
      <if test="weightUnit != null" >
        weight_unit,
      </if>
      <if test="moneyUnit != null" >
        money_unit,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null" >
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="lengthUnit != null" >
        #{lengthUnit,jdbcType=VARCHAR},
      </if>
      <if test="volumeUnit != null" >
        #{volumeUnit,jdbcType=VARCHAR},
      </if>
      <if test="weightUnit != null" >
        #{weightUnit,jdbcType=VARCHAR},
      </if>
      <if test="moneyUnit != null" >
        #{moneyUnit,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.CountryDO" >
    update country
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null" >
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="lengthUnit != null" >
        length_unit = #{lengthUnit,jdbcType=VARCHAR},
      </if>
      <if test="volumeUnit != null" >
        volume_unit = #{volumeUnit,jdbcType=VARCHAR},
      </if>
      <if test="weightUnit != null" >
        weight_unit = #{weightUnit,jdbcType=VARCHAR},
      </if>
      <if test="moneyUnit != null" >
        money_unit = #{moneyUnit,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.CountryDO" >
    update country
    set name = #{name,jdbcType=VARCHAR},
      country_code = #{countryCode,jdbcType=VARCHAR},
      length_unit = #{lengthUnit,jdbcType=VARCHAR},
      volume_unit = #{volumeUnit,jdbcType=VARCHAR},
      weight_unit = #{weightUnit,jdbcType=VARCHAR},
      money_unit = #{moneyUnit,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>