<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.InventoryBookingRecordMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, company_no AS companyNo, order_no AS orderNo, sub_order_no AS subOrderNo, item_code AS itemCode, sku_code AS skuCode, quantity, booked_quantity AS bookedQuantity, inventory, inventory_type AS inventoryType, operator_type AS operatorType, inventory_area_id AS inventoryAreaId, warehouse_id AS warehouseId, position_no AS positionNo, gmt_create AS gmtCreate, gmt_modify AS gmtModify, is_del AS isDel, creator, modifier
	</sql>

</mapper>