<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.InventoryDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.InventoryDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_no" property="companyNo" jdbcType="VARCHAR" />
    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="upc" property="upc" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="virtual_inv" property="virtualInv" jdbcType="BIGINT" />
    <result column="locked_virtual_inv" property="lockedVirtualInv" jdbcType="BIGINT" />
    <result column="inv" property="inv" jdbcType="BIGINT" />
    <result column="locked_inv" property="lockedInv" jdbcType="BIGINT" />
    <result column="trans_inv" property="transInv" jdbcType="BIGINT" />
    <result column="locked_trans_inv" property="lockedTransInv" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_no, item_code, item_name, upc, sku_code, virtual_inv, locked_virtual_inv, 
    inv, locked_inv, trans_inv, locked_trans_inv, gmt_create, gmt_modify, is_del, creator, 
    modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from inventory
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from inventory
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.InventoryDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into inventory (id, company_no, item_code, 
      item_name, upc, sku_code, 
      virtual_inv, locked_virtual_inv, inv, 
      locked_inv, trans_inv, locked_trans_inv, 
      gmt_create, gmt_modify, is_del, 
      creator, modifier)
    values (#{id,jdbcType=BIGINT}, #{companyNo,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{upc,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, 
      #{virtualInv,jdbcType=BIGINT}, #{lockedVirtualInv,jdbcType=BIGINT}, #{inv,jdbcType=BIGINT}, 
      #{lockedInv,jdbcType=BIGINT}, #{transInv,jdbcType=BIGINT}, #{lockedTransInv,jdbcType=BIGINT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{isDel,jdbcType=BIT}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.InventoryDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into inventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="upc != null" >
        upc,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="virtualInv != null" >
        virtual_inv,
      </if>
      <if test="lockedVirtualInv != null" >
        locked_virtual_inv,
      </if>
      <if test="inv != null" >
        inv,
      </if>
      <if test="lockedInv != null" >
        locked_inv,
      </if>
      <if test="transInv != null" >
        trans_inv,
      </if>
      <if test="lockedTransInv != null" >
        locked_trans_inv,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=BIGINT},
      <if test="companyNo != null" >
        #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="upc != null" >
        #{upc,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="virtualInv != null" >
        #{virtualInv,jdbcType=BIGINT},
      </if>
      <if test="lockedVirtualInv != null" >
        #{lockedVirtualInv,jdbcType=BIGINT},
      </if>
      <if test="inv != null" >
        #{inv,jdbcType=BIGINT},
      </if>
      <if test="lockedInv != null" >
        #{lockedInv,jdbcType=BIGINT},
      </if>
      <if test="transInv != null" >
        #{transInv,jdbcType=BIGINT},
      </if>
      <if test="lockedTransInv != null" >
        #{lockedTransInv,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.InventoryDO" >
    update inventory
    <set >
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="upc != null" >
        upc = #{upc,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="virtualInv != null" >
        virtual_inv = #{virtualInv,jdbcType=BIGINT},
      </if>
      <if test="lockedVirtualInv != null" >
        locked_virtual_inv = #{lockedVirtualInv,jdbcType=BIGINT},
      </if>
      <if test="inv != null" >
        inv = #{inv,jdbcType=BIGINT},
      </if>
      <if test="lockedInv != null" >
        locked_inv = #{lockedInv,jdbcType=BIGINT},
      </if>
      <if test="transInv != null" >
        trans_inv = #{transInv,jdbcType=BIGINT},
      </if>
      <if test="lockedTransInv != null" >
        locked_trans_inv = #{lockedTransInv,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.InventoryDO" >
    update inventory
    set company_no = #{companyNo,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      virtual_inv = #{virtualInv,jdbcType=BIGINT},
      locked_virtual_inv = #{lockedVirtualInv,jdbcType=BIGINT},
      inv = #{inv,jdbcType=BIGINT},
      locked_inv = #{lockedInv,jdbcType=BIGINT},
      trans_inv = #{transInv,jdbcType=BIGINT},
      locked_trans_inv = #{lockedTransInv,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>