<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ItemDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="company_no" property="companyNo" jdbcType="VARCHAR" />
    <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
    <result column="qr_code_url" property="qrCodeUrl" jdbcType="VARCHAR" />
    <result column="video" property="video" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="en_name" property="enName" jdbcType="VARCHAR" />
    <result column="item_short" property="itemShort" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="sale_type" property="saleType" jdbcType="TINYINT" />
    <result column="main_pic" property="mainPic" jdbcType="VARCHAR" />
    <result column="brand_no" property="brandNo" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="TINYINT" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="freight" property="freight" jdbcType="DOUBLE" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="logistic_type" property="logisticType" jdbcType="TINYINT" />
    <result column="price_range" property="priceRange" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="promotion" property="promotion" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="TINYINT" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="booking_date" property="bookingDate" jdbcType="TIMESTAMP" />
    <result column="is_sale" property="isSale" jdbcType="TINYINT" />
    <result column="sale_on_youzan" property="saleOnYouzan" jdbcType="INTEGER" />
    <result column="third_sale" property="thirdSale" jdbcType="INTEGER" />
    <result column="wxis_sale" property="wxisSale" jdbcType="TINYINT" />
    <result column="is_find" property="isFind" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="buyer_open_id" property="buyerOpenId" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemDO" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_code, company_no, category_code, qr_code_url, video, subtitle, item_name, 
    en_name, item_short, category_name, sale_type, main_pic, brand_no, brand_name, country, 
    currency, origin, freight, weight, logistic_type, price_range, unit, source, promotion, 
    id_card, start_date, end_date, booking_date, is_sale, sale_on_youzan, third_sale, 
    wxis_sale, is_find, status, spec, model, buyer_open_id, creator, modifier
  </sql>
  <sql id="Blob_Column_List" >
    remark, detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item (item_code, company_no, category_code, 
      qr_code_url, video, subtitle, 
      item_name, en_name, item_short, 
      category_name, sale_type, main_pic, 
      brand_no, brand_name, country, 
      currency, origin, freight, 
      weight, logistic_type, price_range, 
      unit, source, promotion, 
      id_card, start_date, end_date, 
      booking_date, is_sale, sale_on_youzan, 
      third_sale, wxis_sale, is_find, 
      status, spec, model, 
      buyer_open_id, creator, modifier, 
      remark, detail)
    values (#{itemCode,jdbcType=VARCHAR}, #{companyNo,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, 
      #{qrCodeUrl,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, #{itemShort,jdbcType=VARCHAR}, 
      #{categoryName,jdbcType=VARCHAR}, #{saleType,jdbcType=TINYINT}, #{mainPic,jdbcType=VARCHAR}, 
      #{brandNo,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{currency,jdbcType=TINYINT}, #{origin,jdbcType=VARCHAR}, #{freight,jdbcType=DOUBLE}, 
      #{weight,jdbcType=DOUBLE}, #{logisticType,jdbcType=TINYINT}, #{priceRange,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{promotion,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=TINYINT}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{bookingDate,jdbcType=TIMESTAMP}, #{isSale,jdbcType=TINYINT}, #{saleOnYouzan,jdbcType=INTEGER}, 
      #{thirdSale,jdbcType=INTEGER}, #{wxisSale,jdbcType=TINYINT}, #{isFind,jdbcType=TINYINT}, 
      #{status,jdbcType=INTEGER}, #{spec,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{buyerOpenId,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="categoryCode != null" >
        category_code,
      </if>
      <if test="qrCodeUrl != null" >
        qr_code_url,
      </if>
      <if test="video != null" >
        video,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="enName != null" >
        en_name,
      </if>
      <if test="itemShort != null" >
        item_short,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="saleType != null" >
        sale_type,
      </if>
      <if test="mainPic != null" >
        main_pic,
      </if>
      <if test="brandNo != null" >
        brand_no,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="logisticType != null" >
        logistic_type,
      </if>
      <if test="priceRange != null" >
        price_range,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="promotion != null" >
        promotion,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="bookingDate != null" >
        booking_date,
      </if>
      <if test="isSale != null" >
        is_sale,
      </if>
      <if test="saleOnYouzan != null" >
        sale_on_youzan,
      </if>
      <if test="thirdSale != null" >
        third_sale,
      </if>
      <if test="wxisSale != null" >
        wxis_sale,
      </if>
      <if test="isFind != null" >
        is_find,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="buyerOpenId != null" >
        buyer_open_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null" >
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="qrCodeUrl != null" >
        #{qrCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="itemShort != null" >
        #{itemShort,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="saleType != null" >
        #{saleType,jdbcType=TINYINT},
      </if>
      <if test="mainPic != null" >
        #{mainPic,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null" >
        #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=TINYINT},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=DOUBLE},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="logisticType != null" >
        #{logisticType,jdbcType=TINYINT},
      </if>
      <if test="priceRange != null" >
        #{priceRange,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="promotion != null" >
        #{promotion,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=TINYINT},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookingDate != null" >
        #{bookingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isSale != null" >
        #{isSale,jdbcType=TINYINT},
      </if>
      <if test="saleOnYouzan != null" >
        #{saleOnYouzan,jdbcType=INTEGER},
      </if>
      <if test="thirdSale != null" >
        #{thirdSale,jdbcType=INTEGER},
      </if>
      <if test="wxisSale != null" >
        #{wxisSale,jdbcType=TINYINT},
      </if>
      <if test="isFind != null" >
        #{isFind,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="buyerOpenId != null" >
        #{buyerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemDO" >
    update item
    <set >
      <if test="itemCode != null" >
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null" >
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="qrCodeUrl != null" >
        qr_code_url = #{qrCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="itemShort != null" >
        item_short = #{itemShort,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="saleType != null" >
        sale_type = #{saleType,jdbcType=TINYINT},
      </if>
      <if test="mainPic != null" >
        main_pic = #{mainPic,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null" >
        brand_no = #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=TINYINT},
      </if>
      <if test="origin != null" >
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=DOUBLE},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="logisticType != null" >
        logistic_type = #{logisticType,jdbcType=TINYINT},
      </if>
      <if test="priceRange != null" >
        price_range = #{priceRange,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="promotion != null" >
        promotion = #{promotion,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=TINYINT},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookingDate != null" >
        booking_date = #{bookingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isSale != null" >
        is_sale = #{isSale,jdbcType=TINYINT},
      </if>
      <if test="saleOnYouzan != null" >
        sale_on_youzan = #{saleOnYouzan,jdbcType=INTEGER},
      </if>
      <if test="thirdSale != null" >
        third_sale = #{thirdSale,jdbcType=INTEGER},
      </if>
      <if test="wxisSale != null" >
        wxis_sale = #{wxisSale,jdbcType=TINYINT},
      </if>
      <if test="isFind != null" >
        is_find = #{isFind,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="buyerOpenId != null" >
        buyer_open_id = #{buyerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemDO" >
    update item
    set item_code = #{itemCode,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      category_code = #{categoryCode,jdbcType=VARCHAR},
      qr_code_url = #{qrCodeUrl,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      item_short = #{itemShort,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      sale_type = #{saleType,jdbcType=TINYINT},
      main_pic = #{mainPic,jdbcType=VARCHAR},
      brand_no = #{brandNo,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=TINYINT},
      origin = #{origin,jdbcType=VARCHAR},
      freight = #{freight,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      logistic_type = #{logisticType,jdbcType=TINYINT},
      price_range = #{priceRange,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      promotion = #{promotion,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=TINYINT},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      booking_date = #{bookingDate,jdbcType=TIMESTAMP},
      is_sale = #{isSale,jdbcType=TINYINT},
      sale_on_youzan = #{saleOnYouzan,jdbcType=INTEGER},
      third_sale = #{thirdSale,jdbcType=INTEGER},
      wxis_sale = #{wxisSale,jdbcType=TINYINT},
      is_find = #{isFind,jdbcType=TINYINT},
      status = #{status,jdbcType=INTEGER},
      spec = #{spec,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      buyer_open_id = #{buyerOpenId,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemDO" >
    update item
    set item_code = #{itemCode,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      category_code = #{categoryCode,jdbcType=VARCHAR},
      qr_code_url = #{qrCodeUrl,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      item_short = #{itemShort,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      sale_type = #{saleType,jdbcType=TINYINT},
      main_pic = #{mainPic,jdbcType=VARCHAR},
      brand_no = #{brandNo,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=TINYINT},
      origin = #{origin,jdbcType=VARCHAR},
      freight = #{freight,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      logistic_type = #{logisticType,jdbcType=TINYINT},
      price_range = #{priceRange,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      promotion = #{promotion,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=TINYINT},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      booking_date = #{bookingDate,jdbcType=TIMESTAMP},
      is_sale = #{isSale,jdbcType=TINYINT},
      sale_on_youzan = #{saleOnYouzan,jdbcType=INTEGER},
      third_sale = #{thirdSale,jdbcType=INTEGER},
      wxis_sale = #{wxisSale,jdbcType=TINYINT},
      is_find = #{isFind,jdbcType=TINYINT},
      status = #{status,jdbcType=INTEGER},
      spec = #{spec,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      buyer_open_id = #{buyerOpenId,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>