<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ItemSkuScaleDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuScaleDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="scale_code" property="scaleCode" jdbcType="VARCHAR" />
    <result column="scale_name" property="scaleName" jdbcType="VARCHAR" />
    <result column="scale_value" property="scaleValue" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_code, sku_code, scale_code, scale_name, scale_value, creator, modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from item_sku_scale
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from item_sku_scale
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuScaleDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item_sku_scale (item_code, sku_code, scale_code, 
      scale_name, scale_value, creator, 
      modifier)
    values (#{itemCode,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, #{scaleCode,jdbcType=VARCHAR}, 
      #{scaleName,jdbcType=VARCHAR}, #{scaleValue,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuScaleDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item_sku_scale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="scaleCode != null" >
        scale_code,
      </if>
      <if test="scaleName != null" >
        scale_name,
      </if>
      <if test="scaleValue != null" >
        scale_value,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="scaleCode != null" >
        #{scaleCode,jdbcType=VARCHAR},
      </if>
      <if test="scaleName != null" >
        #{scaleName,jdbcType=VARCHAR},
      </if>
      <if test="scaleValue != null" >
        #{scaleValue,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuScaleDO" >
    update item_sku_scale
    <set >
      <if test="itemCode != null" >
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="scaleCode != null" >
        scale_code = #{scaleCode,jdbcType=VARCHAR},
      </if>
      <if test="scaleName != null" >
        scale_name = #{scaleName,jdbcType=VARCHAR},
      </if>
      <if test="scaleValue != null" >
        scale_value = #{scaleValue,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuScaleDO" >
    update item_sku_scale
    set item_code = #{itemCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      scale_code = #{scaleCode,jdbcType=VARCHAR},
      scale_name = #{scaleName,jdbcType=VARCHAR},
      scale_value = #{scaleValue,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>