<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ItemSkuMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, sku_code AS skuCode, item_code AS itemCode, item_name AS itemName, company_no AS companyNo, category_code AS categoryCode, category_name AS categoryName, upc, saleable, purchase_price AS purchasePrice, freight, discount, `desc`, logistic_type AS logisticType, cost_price AS costPrice, brand_name AS brandName, weight, sku_pic AS skuPic, package_code AS packageCode, package_name AS packageName, package_en AS packageEn, package_weight AS packageWeight, package_level_id AS packageLevelId, `scale`, model, sale_type AS saleType, sale_price AS salePrice, creator, modifier, gmt_create AS gmtCreate, gmt_modify AS gmtModify, is_del AS isDel
	</sql>

</mapper>