<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ItemFindDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemFindDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_no" property="companyNo" jdbcType="VARCHAR" />
    <result column="item_find_no" property="itemFindNo" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="is_new" property="isNew" jdbcType="TINYINT" />
    <result column="sale_type" property="saleType" jdbcType="TINYINT" />
    <result column="currency" property="currency" jdbcType="TINYINT" />
    <result column="buy_site" property="buySite" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="logistic_type" property="logisticType" jdbcType="TINYINT" />
    <result column="contact_person" property="contactPerson" jdbcType="VARCHAR" />
    <result column="contact_tel" property="contactTel" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="TINYINT" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="booking_date" property="bookingDate" jdbcType="TIMESTAMP" />
    <result column="is_sale" property="isSale" jdbcType="TINYINT" />
    <result column="wxis_sale" property="wxisSale" jdbcType="TINYINT" />
    <result column="is_find" property="isFind" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="desc_msg" property="descMsg" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="buyer_open_id" property="buyerOpenId" jdbcType="VARCHAR" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="purchase_status" property="purchaseStatus" jdbcType="TINYINT" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="find_address" property="findAddress" jdbcType="VARCHAR" />
    <result column="refuse_reason" property="refuseReason" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemFindDO" extends="BaseResultMap" >
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_no, item_find_no, item_name, item_code, sku_code, is_new, sale_type, 
    currency, buy_site, origin, logistic_type, contact_person, contact_tel, id_card, 
    start_date, end_date, booking_date, is_sale, wxis_sale, is_find, status, desc_msg, 
    spec, model, buyer_open_id, buyer_name, purchase_status, reason, find_address, refuse_reason, 
    creator, modifier
  </sql>
  <sql id="Blob_Column_List" >
    detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item_find
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from item_find
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemFindDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item_find (company_no, item_find_no, item_name, 
      item_code, sku_code, is_new, 
      sale_type, currency, buy_site, 
      origin, logistic_type, contact_person, 
      contact_tel, id_card, start_date, 
      end_date, booking_date, is_sale, 
      wxis_sale, is_find, status, 
      desc_msg, spec, model, 
      buyer_open_id, buyer_name, purchase_status, 
      reason, find_address, refuse_reason, 
      creator, modifier, detail
      )
    values (#{companyNo,jdbcType=VARCHAR}, #{itemFindNo,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{itemCode,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, #{isNew,jdbcType=TINYINT}, 
      #{saleType,jdbcType=TINYINT}, #{currency,jdbcType=TINYINT}, #{buySite,jdbcType=VARCHAR}, 
      #{origin,jdbcType=VARCHAR}, #{logisticType,jdbcType=TINYINT}, #{contactPerson,jdbcType=VARCHAR}, 
      #{contactTel,jdbcType=VARCHAR}, #{idCard,jdbcType=TINYINT}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{bookingDate,jdbcType=TIMESTAMP}, #{isSale,jdbcType=TINYINT}, 
      #{wxisSale,jdbcType=TINYINT}, #{isFind,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{descMsg,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{buyerOpenId,jdbcType=VARCHAR}, #{buyerName,jdbcType=VARCHAR}, #{purchaseStatus,jdbcType=TINYINT}, 
      #{reason,jdbcType=VARCHAR}, #{findAddress,jdbcType=VARCHAR}, #{refuseReason,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemFindDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item_find
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="itemFindNo != null" >
        item_find_no,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="isNew != null" >
        is_new,
      </if>
      <if test="saleType != null" >
        sale_type,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="buySite != null" >
        buy_site,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="logisticType != null" >
        logistic_type,
      </if>
      <if test="contactPerson != null" >
        contact_person,
      </if>
      <if test="contactTel != null" >
        contact_tel,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="bookingDate != null" >
        booking_date,
      </if>
      <if test="isSale != null" >
        is_sale,
      </if>
      <if test="wxisSale != null" >
        wxis_sale,
      </if>
      <if test="isFind != null" >
        is_find,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="descMsg != null" >
        desc_msg,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="buyerOpenId != null" >
        buyer_open_id,
      </if>
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="purchaseStatus != null" >
        purchase_status,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="findAddress != null" >
        find_address,
      </if>
      <if test="refuseReason != null" >
        refuse_reason,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyNo != null" >
        #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="itemFindNo != null" >
        #{itemFindNo,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="isNew != null" >
        #{isNew,jdbcType=TINYINT},
      </if>
      <if test="saleType != null" >
        #{saleType,jdbcType=TINYINT},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=TINYINT},
      </if>
      <if test="buySite != null" >
        #{buySite,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="logisticType != null" >
        #{logisticType,jdbcType=TINYINT},
      </if>
      <if test="contactPerson != null" >
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=TINYINT},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookingDate != null" >
        #{bookingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isSale != null" >
        #{isSale,jdbcType=TINYINT},
      </if>
      <if test="wxisSale != null" >
        #{wxisSale,jdbcType=TINYINT},
      </if>
      <if test="isFind != null" >
        #{isFind,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="descMsg != null" >
        #{descMsg,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="buyerOpenId != null" >
        #{buyerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseStatus != null" >
        #{purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="findAddress != null" >
        #{findAddress,jdbcType=VARCHAR},
      </if>
      <if test="refuseReason != null" >
        #{refuseReason,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemFindDO" >
    update item_find
    <set >
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="itemFindNo != null" >
        item_find_no = #{itemFindNo,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="isNew != null" >
        is_new = #{isNew,jdbcType=TINYINT},
      </if>
      <if test="saleType != null" >
        sale_type = #{saleType,jdbcType=TINYINT},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=TINYINT},
      </if>
      <if test="buySite != null" >
        buy_site = #{buySite,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="logisticType != null" >
        logistic_type = #{logisticType,jdbcType=TINYINT},
      </if>
      <if test="contactPerson != null" >
        contact_person = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        contact_tel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=TINYINT},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookingDate != null" >
        booking_date = #{bookingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isSale != null" >
        is_sale = #{isSale,jdbcType=TINYINT},
      </if>
      <if test="wxisSale != null" >
        wxis_sale = #{wxisSale,jdbcType=TINYINT},
      </if>
      <if test="isFind != null" >
        is_find = #{isFind,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="descMsg != null" >
        desc_msg = #{descMsg,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="buyerOpenId != null" >
        buyer_open_id = #{buyerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseStatus != null" >
        purchase_status = #{purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="findAddress != null" >
        find_address = #{findAddress,jdbcType=VARCHAR},
      </if>
      <if test="refuseReason != null" >
        refuse_reason = #{refuseReason,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemFindDO" >
    update item_find
    set company_no = #{companyNo,jdbcType=VARCHAR},
      item_find_no = #{itemFindNo,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      is_new = #{isNew,jdbcType=TINYINT},
      sale_type = #{saleType,jdbcType=TINYINT},
      currency = #{currency,jdbcType=TINYINT},
      buy_site = #{buySite,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=VARCHAR},
      logistic_type = #{logisticType,jdbcType=TINYINT},
      contact_person = #{contactPerson,jdbcType=VARCHAR},
      contact_tel = #{contactTel,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=TINYINT},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      booking_date = #{bookingDate,jdbcType=TIMESTAMP},
      is_sale = #{isSale,jdbcType=TINYINT},
      wxis_sale = #{wxisSale,jdbcType=TINYINT},
      is_find = #{isFind,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      desc_msg = #{descMsg,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      buyer_open_id = #{buyerOpenId,jdbcType=VARCHAR},
      buyer_name = #{buyerName,jdbcType=VARCHAR},
      purchase_status = #{purchaseStatus,jdbcType=TINYINT},
      reason = #{reason,jdbcType=VARCHAR},
      find_address = #{findAddress,jdbcType=VARCHAR},
      refuse_reason = #{refuseReason,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemFindDO" >
    update item_find
    set company_no = #{companyNo,jdbcType=VARCHAR},
      item_find_no = #{itemFindNo,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      is_new = #{isNew,jdbcType=TINYINT},
      sale_type = #{saleType,jdbcType=TINYINT},
      currency = #{currency,jdbcType=TINYINT},
      buy_site = #{buySite,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=VARCHAR},
      logistic_type = #{logisticType,jdbcType=TINYINT},
      contact_person = #{contactPerson,jdbcType=VARCHAR},
      contact_tel = #{contactTel,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=TINYINT},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      booking_date = #{bookingDate,jdbcType=TIMESTAMP},
      is_sale = #{isSale,jdbcType=TINYINT},
      wxis_sale = #{wxisSale,jdbcType=TINYINT},
      is_find = #{isFind,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      desc_msg = #{descMsg,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      buyer_open_id = #{buyerOpenId,jdbcType=VARCHAR},
      buyer_name = #{buyerName,jdbcType=VARCHAR},
      purchase_status = #{purchaseStatus,jdbcType=TINYINT},
      reason = #{reason,jdbcType=VARCHAR},
      find_address = #{findAddress,jdbcType=VARCHAR},
      refuse_reason = #{refuseReason,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>