<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ItemSkuDOMapper">
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="company_no" jdbcType="VARCHAR" property="companyNo" />
    <result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="upc" jdbcType="VARCHAR" property="upc" />
    <result column="saleable" jdbcType="TINYINT" property="saleable" />
    <result column="purchase_price" jdbcType="DOUBLE" property="purchasePrice" />
    <result column="freight" jdbcType="BIGINT" property="freight" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="logistic_type" jdbcType="TINYINT" property="logisticType" />
    <result column="cost_price" jdbcType="DOUBLE" property="costPrice" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="sku_pic" jdbcType="VARCHAR" property="skuPic" />
    <result column="package_code" jdbcType="VARCHAR" property="packageCode" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="package_en" jdbcType="VARCHAR" property="packageEn" />
    <result column="package_weight" jdbcType="DOUBLE" property="packageWeight" />
    <result column="package_level_id" jdbcType="VARCHAR" property="packageLevelId" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sale_type" jdbcType="BIT" property="saleType" />
    <result column="sale_price" jdbcType="DOUBLE" property="salePrice" />
    <result column="sku_rate" jdbcType="DOUBLE" property="skuRate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, item_code, item_name, company_no, category_code, category_name, upc, 
    saleable, purchase_price, freight, discount, logistic_type, cost_price, brand_name, 
    weight, sku_pic, package_code, package_name, package_en, package_weight, package_level_id, 
    scale, model, status, sale_type, sale_price, sku_rate, modifier, creator
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item_sku
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from item_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item_sku (sku_code, item_code, item_name, 
      company_no, category_code, category_name, 
      upc, saleable, purchase_price, 
      freight, discount, logistic_type, 
      cost_price, brand_name, weight, 
      sku_pic, package_code, package_name, 
      package_en, package_weight, package_level_id, 
      scale, model, status, 
      sale_type, sale_price, sku_rate, 
      modifier, creator, remark
      )
    values (#{skuCode,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{companyNo,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, 
      #{upc,jdbcType=VARCHAR}, #{saleable,jdbcType=TINYINT}, #{purchasePrice,jdbcType=DOUBLE}, 
      #{freight,jdbcType=BIGINT}, #{discount,jdbcType=DOUBLE}, #{logisticType,jdbcType=TINYINT}, 
      #{costPrice,jdbcType=DOUBLE}, #{brandName,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, 
      #{skuPic,jdbcType=VARCHAR}, #{packageCode,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, 
      #{packageEn,jdbcType=VARCHAR}, #{packageWeight,jdbcType=DOUBLE}, #{packageLevelId,jdbcType=VARCHAR}, 
      #{scale,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{saleType,jdbcType=BIT}, #{salePrice,jdbcType=DOUBLE}, #{skuRate,jdbcType=DOUBLE}, 
      #{modifier,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item_sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="companyNo != null">
        company_no,
      </if>
      <if test="categoryCode != null">
        category_code,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="upc != null">
        upc,
      </if>
      <if test="saleable != null">
        saleable,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="logisticType != null">
        logistic_type,
      </if>
      <if test="costPrice != null">
        cost_price,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="skuPic != null">
        sku_pic,
      </if>
      <if test="packageCode != null">
        package_code,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="packageEn != null">
        package_en,
      </if>
      <if test="packageWeight != null">
        package_weight,
      </if>
      <if test="packageLevelId != null">
        package_level_id,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="saleType != null">
        sale_type,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="skuRate != null">
        sku_rate,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null">
        #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="upc != null">
        #{upc,jdbcType=VARCHAR},
      </if>
      <if test="saleable != null">
        #{saleable,jdbcType=TINYINT},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=BIGINT},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="logisticType != null">
        #{logisticType,jdbcType=TINYINT},
      </if>
      <if test="costPrice != null">
        #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="skuPic != null">
        #{skuPic,jdbcType=VARCHAR},
      </if>
      <if test="packageCode != null">
        #{packageCode,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="packageEn != null">
        #{packageEn,jdbcType=VARCHAR},
      </if>
      <if test="packageWeight != null">
        #{packageWeight,jdbcType=DOUBLE},
      </if>
      <if test="packageLevelId != null">
        #{packageLevelId,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="saleType != null">
        #{saleType,jdbcType=BIT},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="skuRate != null">
        #{skuRate,jdbcType=DOUBLE},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    update item_sku
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null">
        company_no = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="upc != null">
        upc = #{upc,jdbcType=VARCHAR},
      </if>
      <if test="saleable != null">
        saleable = #{saleable,jdbcType=TINYINT},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=BIGINT},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="logisticType != null">
        logistic_type = #{logisticType,jdbcType=TINYINT},
      </if>
      <if test="costPrice != null">
        cost_price = #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="skuPic != null">
        sku_pic = #{skuPic,jdbcType=VARCHAR},
      </if>
      <if test="packageCode != null">
        package_code = #{packageCode,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="packageEn != null">
        package_en = #{packageEn,jdbcType=VARCHAR},
      </if>
      <if test="packageWeight != null">
        package_weight = #{packageWeight,jdbcType=DOUBLE},
      </if>
      <if test="packageLevelId != null">
        package_level_id = #{packageLevelId,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        scale = #{scale,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="saleType != null">
        sale_type = #{saleType,jdbcType=BIT},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="skuRate != null">
        sku_rate = #{skuRate,jdbcType=DOUBLE},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    update item_sku
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      category_code = #{categoryCode,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      saleable = #{saleable,jdbcType=TINYINT},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      freight = #{freight,jdbcType=BIGINT},
      discount = #{discount,jdbcType=DOUBLE},
      logistic_type = #{logisticType,jdbcType=TINYINT},
      cost_price = #{costPrice,jdbcType=DOUBLE},
      brand_name = #{brandName,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      sku_pic = #{skuPic,jdbcType=VARCHAR},
      package_code = #{packageCode,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      package_en = #{packageEn,jdbcType=VARCHAR},
      package_weight = #{packageWeight,jdbcType=DOUBLE},
      package_level_id = #{packageLevelId,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sale_type = #{saleType,jdbcType=BIT},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      sku_rate = #{skuRate,jdbcType=DOUBLE},
      modifier = #{modifier,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    update item_sku
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      category_code = #{categoryCode,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      saleable = #{saleable,jdbcType=TINYINT},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      freight = #{freight,jdbcType=BIGINT},
      discount = #{discount,jdbcType=DOUBLE},
      logistic_type = #{logisticType,jdbcType=TINYINT},
      cost_price = #{costPrice,jdbcType=DOUBLE},
      brand_name = #{brandName,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      sku_pic = #{skuPic,jdbcType=VARCHAR},
      package_code = #{packageCode,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      package_en = #{packageEn,jdbcType=VARCHAR},
      package_weight = #{packageWeight,jdbcType=DOUBLE},
      package_level_id = #{packageLevelId,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sale_type = #{saleType,jdbcType=BIT},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      sku_rate = #{skuRate,jdbcType=DOUBLE},
      modifier = #{modifier,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="company_no" jdbcType="VARCHAR" property="companyNo" />
    <result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="upc" jdbcType="VARCHAR" property="upc" />
    <result column="saleable" jdbcType="TINYINT" property="saleable" />
    <result column="purchase_price" jdbcType="DOUBLE" property="purchasePrice" />
    <result column="freight" jdbcType="BIGINT" property="freight" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="logistic_type" jdbcType="TINYINT" property="logisticType" />
    <result column="cost_price" jdbcType="DOUBLE" property="costPrice" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="sku_pic" jdbcType="VARCHAR" property="skuPic" />
    <result column="package_code" jdbcType="VARCHAR" property="packageCode" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="package_en" jdbcType="VARCHAR" property="packageEn" />
    <result column="package_weight" jdbcType="DOUBLE" property="packageWeight" />
    <result column="package_level_id" jdbcType="VARCHAR" property="packageLevelId" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sale_type" jdbcType="BIT" property="saleType" />
    <result column="sale_price" jdbcType="DOUBLE" property="salePrice" />
    <result column="sku_rate" jdbcType="DOUBLE" property="skuRate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, item_code, item_name, company_no, category_code, category_name, upc, 
    saleable, purchase_price, freight, discount, logistic_type, cost_price, brand_name, 
    weight, sku_pic, package_code, package_name, package_en, package_weight, package_level_id, 
    scale, model, status, sale_type, sale_price, sku_rate, modifier, creator
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item_sku
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from item_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item_sku (sku_code, item_code, item_name, 
      company_no, category_code, category_name, 
      upc, saleable, purchase_price, 
      freight, discount, logistic_type, 
      cost_price, brand_name, weight, 
      sku_pic, package_code, package_name, 
      package_en, package_weight, package_level_id, 
      scale, model, status, 
      sale_type, sale_price, sku_rate, 
      modifier, creator, remark
      )
    values (#{skuCode,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{companyNo,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, 
      #{upc,jdbcType=VARCHAR}, #{saleable,jdbcType=TINYINT}, #{purchasePrice,jdbcType=DOUBLE}, 
      #{freight,jdbcType=BIGINT}, #{discount,jdbcType=DOUBLE}, #{logisticType,jdbcType=TINYINT}, 
      #{costPrice,jdbcType=DOUBLE}, #{brandName,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, 
      #{skuPic,jdbcType=VARCHAR}, #{packageCode,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, 
      #{packageEn,jdbcType=VARCHAR}, #{packageWeight,jdbcType=DOUBLE}, #{packageLevelId,jdbcType=VARCHAR}, 
      #{scale,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{saleType,jdbcType=BIT}, #{salePrice,jdbcType=DOUBLE}, #{skuRate,jdbcType=DOUBLE}, 
      #{modifier,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item_sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="companyNo != null">
        company_no,
      </if>
      <if test="categoryCode != null">
        category_code,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="upc != null">
        upc,
      </if>
      <if test="saleable != null">
        saleable,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="logisticType != null">
        logistic_type,
      </if>
      <if test="costPrice != null">
        cost_price,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="skuPic != null">
        sku_pic,
      </if>
      <if test="packageCode != null">
        package_code,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="packageEn != null">
        package_en,
      </if>
      <if test="packageWeight != null">
        package_weight,
      </if>
      <if test="packageLevelId != null">
        package_level_id,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="saleType != null">
        sale_type,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="skuRate != null">
        sku_rate,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null">
        #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="upc != null">
        #{upc,jdbcType=VARCHAR},
      </if>
      <if test="saleable != null">
        #{saleable,jdbcType=TINYINT},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=BIGINT},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="logisticType != null">
        #{logisticType,jdbcType=TINYINT},
      </if>
      <if test="costPrice != null">
        #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="skuPic != null">
        #{skuPic,jdbcType=VARCHAR},
      </if>
      <if test="packageCode != null">
        #{packageCode,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="packageEn != null">
        #{packageEn,jdbcType=VARCHAR},
      </if>
      <if test="packageWeight != null">
        #{packageWeight,jdbcType=DOUBLE},
      </if>
      <if test="packageLevelId != null">
        #{packageLevelId,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="saleType != null">
        #{saleType,jdbcType=BIT},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="skuRate != null">
        #{skuRate,jdbcType=DOUBLE},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    update item_sku
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null">
        company_no = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="upc != null">
        upc = #{upc,jdbcType=VARCHAR},
      </if>
      <if test="saleable != null">
        saleable = #{saleable,jdbcType=TINYINT},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=BIGINT},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="logisticType != null">
        logistic_type = #{logisticType,jdbcType=TINYINT},
      </if>
      <if test="costPrice != null">
        cost_price = #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="skuPic != null">
        sku_pic = #{skuPic,jdbcType=VARCHAR},
      </if>
      <if test="packageCode != null">
        package_code = #{packageCode,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="packageEn != null">
        package_en = #{packageEn,jdbcType=VARCHAR},
      </if>
      <if test="packageWeight != null">
        package_weight = #{packageWeight,jdbcType=DOUBLE},
      </if>
      <if test="packageLevelId != null">
        package_level_id = #{packageLevelId,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        scale = #{scale,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="saleType != null">
        sale_type = #{saleType,jdbcType=BIT},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="skuRate != null">
        sku_rate = #{skuRate,jdbcType=DOUBLE},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    update item_sku
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      category_code = #{categoryCode,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      saleable = #{saleable,jdbcType=TINYINT},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      freight = #{freight,jdbcType=BIGINT},
      discount = #{discount,jdbcType=DOUBLE},
      logistic_type = #{logisticType,jdbcType=TINYINT},
      cost_price = #{costPrice,jdbcType=DOUBLE},
      brand_name = #{brandName,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      sku_pic = #{skuPic,jdbcType=VARCHAR},
      package_code = #{packageCode,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      package_en = #{packageEn,jdbcType=VARCHAR},
      package_weight = #{packageWeight,jdbcType=DOUBLE},
      package_level_id = #{packageLevelId,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sale_type = #{saleType,jdbcType=BIT},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      sku_rate = #{skuRate,jdbcType=DOUBLE},
      modifier = #{modifier,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    update item_sku
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      category_code = #{categoryCode,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      saleable = #{saleable,jdbcType=TINYINT},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      freight = #{freight,jdbcType=BIGINT},
      discount = #{discount,jdbcType=DOUBLE},
      logistic_type = #{logisticType,jdbcType=TINYINT},
      cost_price = #{costPrice,jdbcType=DOUBLE},
      brand_name = #{brandName,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      sku_pic = #{skuPic,jdbcType=VARCHAR},
      package_code = #{packageCode,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      package_en = #{packageEn,jdbcType=VARCHAR},
      package_weight = #{packageWeight,jdbcType=DOUBLE},
      package_level_id = #{packageLevelId,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sale_type = #{saleType,jdbcType=BIT},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      sku_rate = #{skuRate,jdbcType=DOUBLE},
      modifier = #{modifier,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="company_no" jdbcType="VARCHAR" property="companyNo" />
    <result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="upc" jdbcType="VARCHAR" property="upc" />
    <result column="saleable" jdbcType="TINYINT" property="saleable" />
    <result column="purchase_price" jdbcType="DOUBLE" property="purchasePrice" />
    <result column="freight" jdbcType="BIGINT" property="freight" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="logistic_type" jdbcType="TINYINT" property="logisticType" />
    <result column="cost_price" jdbcType="DOUBLE" property="costPrice" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="sku_pic" jdbcType="VARCHAR" property="skuPic" />
    <result column="package_code" jdbcType="VARCHAR" property="packageCode" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="package_en" jdbcType="VARCHAR" property="packageEn" />
    <result column="package_weight" jdbcType="DOUBLE" property="packageWeight" />
    <result column="package_level_id" jdbcType="VARCHAR" property="packageLevelId" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sale_type" jdbcType="BIT" property="saleType" />
    <result column="sale_price" jdbcType="DOUBLE" property="salePrice" />
    <result column="sku_rate" jdbcType="DOUBLE" property="skuRate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, item_code, item_name, company_no, category_code, category_name, upc, 
    saleable, purchase_price, freight, discount, logistic_type, cost_price, brand_name, 
    weight, sku_pic, package_code, package_name, package_en, package_weight, package_level_id, 
    scale, model, status, sale_type, sale_price, sku_rate, modifier, creator
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item_sku
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from item_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item_sku (sku_code, item_code, item_name, 
      company_no, category_code, category_name, 
      upc, saleable, purchase_price, 
      freight, discount, logistic_type, 
      cost_price, brand_name, weight, 
      sku_pic, package_code, package_name, 
      package_en, package_weight, package_level_id, 
      scale, model, status, 
      sale_type, sale_price, sku_rate, 
      modifier, creator, remark
      )
    values (#{skuCode,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{companyNo,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, 
      #{upc,jdbcType=VARCHAR}, #{saleable,jdbcType=TINYINT}, #{purchasePrice,jdbcType=DOUBLE}, 
      #{freight,jdbcType=BIGINT}, #{discount,jdbcType=DOUBLE}, #{logisticType,jdbcType=TINYINT}, 
      #{costPrice,jdbcType=DOUBLE}, #{brandName,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, 
      #{skuPic,jdbcType=VARCHAR}, #{packageCode,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, 
      #{packageEn,jdbcType=VARCHAR}, #{packageWeight,jdbcType=DOUBLE}, #{packageLevelId,jdbcType=VARCHAR}, 
      #{scale,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{saleType,jdbcType=BIT}, #{salePrice,jdbcType=DOUBLE}, #{skuRate,jdbcType=DOUBLE}, 
      #{modifier,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into item_sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="companyNo != null">
        company_no,
      </if>
      <if test="categoryCode != null">
        category_code,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="upc != null">
        upc,
      </if>
      <if test="saleable != null">
        saleable,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="logisticType != null">
        logistic_type,
      </if>
      <if test="costPrice != null">
        cost_price,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="skuPic != null">
        sku_pic,
      </if>
      <if test="packageCode != null">
        package_code,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="packageEn != null">
        package_en,
      </if>
      <if test="packageWeight != null">
        package_weight,
      </if>
      <if test="packageLevelId != null">
        package_level_id,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="saleType != null">
        sale_type,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="skuRate != null">
        sku_rate,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null">
        #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="upc != null">
        #{upc,jdbcType=VARCHAR},
      </if>
      <if test="saleable != null">
        #{saleable,jdbcType=TINYINT},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=BIGINT},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="logisticType != null">
        #{logisticType,jdbcType=TINYINT},
      </if>
      <if test="costPrice != null">
        #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="skuPic != null">
        #{skuPic,jdbcType=VARCHAR},
      </if>
      <if test="packageCode != null">
        #{packageCode,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="packageEn != null">
        #{packageEn,jdbcType=VARCHAR},
      </if>
      <if test="packageWeight != null">
        #{packageWeight,jdbcType=DOUBLE},
      </if>
      <if test="packageLevelId != null">
        #{packageLevelId,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="saleType != null">
        #{saleType,jdbcType=BIT},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="skuRate != null">
        #{skuRate,jdbcType=DOUBLE},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    update item_sku
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null">
        company_no = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="upc != null">
        upc = #{upc,jdbcType=VARCHAR},
      </if>
      <if test="saleable != null">
        saleable = #{saleable,jdbcType=TINYINT},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=BIGINT},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="logisticType != null">
        logistic_type = #{logisticType,jdbcType=TINYINT},
      </if>
      <if test="costPrice != null">
        cost_price = #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="skuPic != null">
        sku_pic = #{skuPic,jdbcType=VARCHAR},
      </if>
      <if test="packageCode != null">
        package_code = #{packageCode,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="packageEn != null">
        package_en = #{packageEn,jdbcType=VARCHAR},
      </if>
      <if test="packageWeight != null">
        package_weight = #{packageWeight,jdbcType=DOUBLE},
      </if>
      <if test="packageLevelId != null">
        package_level_id = #{packageLevelId,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        scale = #{scale,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="saleType != null">
        sale_type = #{saleType,jdbcType=BIT},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="skuRate != null">
        sku_rate = #{skuRate,jdbcType=DOUBLE},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    update item_sku
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      category_code = #{categoryCode,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      saleable = #{saleable,jdbcType=TINYINT},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      freight = #{freight,jdbcType=BIGINT},
      discount = #{discount,jdbcType=DOUBLE},
      logistic_type = #{logisticType,jdbcType=TINYINT},
      cost_price = #{costPrice,jdbcType=DOUBLE},
      brand_name = #{brandName,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      sku_pic = #{skuPic,jdbcType=VARCHAR},
      package_code = #{packageCode,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      package_en = #{packageEn,jdbcType=VARCHAR},
      package_weight = #{packageWeight,jdbcType=DOUBLE},
      package_level_id = #{packageLevelId,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sale_type = #{saleType,jdbcType=BIT},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      sku_rate = #{skuRate,jdbcType=DOUBLE},
      modifier = #{modifier,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ItemSkuDO">
    update item_sku
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      category_code = #{categoryCode,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      saleable = #{saleable,jdbcType=TINYINT},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      freight = #{freight,jdbcType=BIGINT},
      discount = #{discount,jdbcType=DOUBLE},
      logistic_type = #{logisticType,jdbcType=TINYINT},
      cost_price = #{costPrice,jdbcType=DOUBLE},
      brand_name = #{brandName,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      sku_pic = #{skuPic,jdbcType=VARCHAR},
      package_code = #{packageCode,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      package_en = #{packageEn,jdbcType=VARCHAR},
      package_weight = #{packageWeight,jdbcType=DOUBLE},
      package_level_id = #{packageLevelId,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sale_type = #{saleType,jdbcType=BIT},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      sku_rate = #{skuRate,jdbcType=DOUBLE},
      modifier = #{modifier,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>