<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.JdCategoryAttarValueDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.JdCategoryAttarValueDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="channel_no" property="channelNo" jdbcType="VARCHAR" />
    <result column="company_no" property="companyNo" jdbcType="VARCHAR" />
    <result column="shop_code" property="shopCode" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="category_attr_id" property="categoryAttrId" jdbcType="VARCHAR" />
    <result column="features" property="features" jdbcType="VARCHAR" />
    <result column="value_id" property="valueId" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, creator, modifier, channel_no, company_no, shop_code, msg, category_attr_id, 
    features, value_id, category_id, value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from jd_category_attarvalue
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from jd_category_attarvalue
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.JdCategoryAttarValueDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jd_category_attarvalue (creator, modifier, channel_no, 
      company_no, shop_code, msg, 
      category_attr_id, features, value_id, 
      category_id, value)
    values (#{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{channelNo,jdbcType=VARCHAR}, 
      #{companyNo,jdbcType=VARCHAR}, #{shopCode,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, 
      #{categoryAttrId,jdbcType=VARCHAR}, #{features,jdbcType=VARCHAR}, #{valueId,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.JdCategoryAttarValueDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jd_category_attarvalue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="channelNo != null" >
        channel_no,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="shopCode != null" >
        shop_code,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="categoryAttrId != null" >
        category_attr_id,
      </if>
      <if test="features != null" >
        features,
      </if>
      <if test="valueId != null" >
        value_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="channelNo != null" >
        #{channelNo,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null" >
        #{shopCode,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="categoryAttrId != null" >
        #{categoryAttrId,jdbcType=VARCHAR},
      </if>
      <if test="features != null" >
        #{features,jdbcType=VARCHAR},
      </if>
      <if test="valueId != null" >
        #{valueId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.JdCategoryAttarValueDO" >
    update jd_category_attarvalue
    <set >
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="channelNo != null" >
        channel_no = #{channelNo,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null" >
        shop_code = #{shopCode,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="categoryAttrId != null" >
        category_attr_id = #{categoryAttrId,jdbcType=VARCHAR},
      </if>
      <if test="features != null" >
        features = #{features,jdbcType=VARCHAR},
      </if>
      <if test="valueId != null" >
        value_id = #{valueId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.JdCategoryAttarValueDO" >
    update jd_category_attarvalue
    set creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      channel_no = #{channelNo,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=VARCHAR},
      shop_code = #{shopCode,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      category_attr_id = #{categoryAttrId,jdbcType=VARCHAR},
      features = #{features,jdbcType=VARCHAR},
      value_id = #{valueId,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>