<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.LogisticCategoryMappingDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.LogisticCategoryMappingDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="logistics_company_code" property="logisticsCompanyCode" jdbcType="BIGINT" />
    <result column="logistics_company_name" property="logisticsCompanyName" jdbcType="VARCHAR" />
    <result column="logistics_company_category_code" property="logisticsCompanyCategoryCode" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_code, category_name, logistics_company_code, logistics_company_name, 
    logistics_company_category_code, creator, modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from logistic_category_mapping
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from logistic_category_mapping
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.LogisticCategoryMappingDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into logistic_category_mapping (category_code, category_name, logistics_company_code, 
      logistics_company_name, logistics_company_category_code, 
      creator, modifier)
    values (#{categoryCode,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{logisticsCompanyCode,jdbcType=BIGINT}, 
      #{logisticsCompanyName,jdbcType=VARCHAR}, #{logisticsCompanyCategoryCode,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.LogisticCategoryMappingDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into logistic_category_mapping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryCode != null" >
        category_code,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="logisticsCompanyCode != null" >
        logistics_company_code,
      </if>
      <if test="logisticsCompanyName != null" >
        logistics_company_name,
      </if>
      <if test="logisticsCompanyCategoryCode != null" >
        logistics_company_category_code,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryCode != null" >
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyCode != null" >
        #{logisticsCompanyCode,jdbcType=BIGINT},
      </if>
      <if test="logisticsCompanyName != null" >
        #{logisticsCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyCategoryCode != null" >
        #{logisticsCompanyCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.LogisticCategoryMappingDO" >
    update logistic_category_mapping
    <set >
      <if test="categoryCode != null" >
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyCode != null" >
        logistics_company_code = #{logisticsCompanyCode,jdbcType=BIGINT},
      </if>
      <if test="logisticsCompanyName != null" >
        logistics_company_name = #{logisticsCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyCategoryCode != null" >
        logistics_company_category_code = #{logisticsCompanyCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.LogisticCategoryMappingDO" >
    update logistic_category_mapping
    set category_code = #{categoryCode,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      logistics_company_code = #{logisticsCompanyCode,jdbcType=BIGINT},
      logistics_company_name = #{logisticsCompanyName,jdbcType=VARCHAR},
      logistics_company_category_code = #{logisticsCompanyCategoryCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>