<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.MallWxItemSnapshotMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, company_no AS companyNo, item_code AS itemCode, sku_code AS skuCode, sell_price AS sellPrice, item_name AS itemName, item_desc AS itemDesc, gmt_create AS gmtCreate, gmt_modify AS gmtModify, creator, modifier, is_del AS isDel
	</sql>

</mapper>