<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.MallOrderMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, customer_no AS customerNo, order_no AS orderNo, company_no AS companyNo, channel_no AS channelNo, channel_name AS channelName, channel_order_no AS channelOrderNo, channel_customer_no AS channelCustomerNo, channel_type AS channelType, shop_code AS shopCode, wx_pay_trade_no AS wxPayTradeNo, total_amount AS totalAmount, actual_amount AS actualAmount, pay_type AS payType, order_time AS orderTime, `status`, memo, id_card AS idCard, idcard_pic_front AS idcardPicFront, idcard_pic_reverse AS idcardPicReverse, `source`, freight, freight_agent AS freightAgent, gmt_modify AS gmtModify, gmt_create AS gmtCreate, is_del AS isDel, modifier, creator
	</sql>

</mapper>