<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.MallReturnOrderDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.MallReturnOrderDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="outer_order_no" property="outerOrderNo" jdbcType="BIGINT" />
    <result column="sub_order_no" property="subOrderNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="return_reason" property="returnReason" jdbcType="VARCHAR" />
    <result column="return_reason_detail" property="returnReasonDetail" jdbcType="VARCHAR" />
    <result column="return_quantity" property="returnQuantity" jdbcType="INTEGER" />
    <result column="return_price" property="returnPrice" jdbcType="DOUBLE" />
    <result column="is_civil" property="isCivil" jdbcType="TINYINT" />
    <result column="is_checkin" property="isCheckin" jdbcType="TINYINT" />
    <result column="customer_open_id" property="customerOpenId" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="return_pay_time" property="returnPayTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="return_refer" property="returnRefer" jdbcType="INTEGER" />
    <result column="proof_img" property="proofImg" jdbcType="VARCHAR" />
    <result column="return_type" property="returnType" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, outer_order_no, sub_order_no, status, return_reason, return_reason_detail, 
    return_quantity, return_price, is_civil, is_checkin, customer_open_id, telephone, 
    receive_time, return_pay_time, remark, return_refer, proof_img, return_type, creator, 
    modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mall_return_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mall_return_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.MallReturnOrderDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mall_return_order (order_no, outer_order_no, sub_order_no, 
      status, return_reason, return_reason_detail, 
      return_quantity, return_price, is_civil, 
      is_checkin, customer_open_id, telephone, 
      receive_time, return_pay_time, remark, 
      return_refer, proof_img, return_type, 
      creator, modifier)
    values (#{orderNo,jdbcType=VARCHAR}, #{outerOrderNo,jdbcType=BIGINT}, #{subOrderNo,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{returnReason,jdbcType=VARCHAR}, #{returnReasonDetail,jdbcType=VARCHAR}, 
      #{returnQuantity,jdbcType=INTEGER}, #{returnPrice,jdbcType=DOUBLE}, #{isCivil,jdbcType=TINYINT}, 
      #{isCheckin,jdbcType=TINYINT}, #{customerOpenId,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{receiveTime,jdbcType=TIMESTAMP}, #{returnPayTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{returnRefer,jdbcType=INTEGER}, #{proofImg,jdbcType=VARCHAR}, #{returnType,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.MallReturnOrderDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mall_return_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="outerOrderNo != null" >
        outer_order_no,
      </if>
      <if test="subOrderNo != null" >
        sub_order_no,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="returnReason != null" >
        return_reason,
      </if>
      <if test="returnReasonDetail != null" >
        return_reason_detail,
      </if>
      <if test="returnQuantity != null" >
        return_quantity,
      </if>
      <if test="returnPrice != null" >
        return_price,
      </if>
      <if test="isCivil != null" >
        is_civil,
      </if>
      <if test="isCheckin != null" >
        is_checkin,
      </if>
      <if test="customerOpenId != null" >
        customer_open_id,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="returnPayTime != null" >
        return_pay_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="returnRefer != null" >
        return_refer,
      </if>
      <if test="proofImg != null" >
        proof_img,
      </if>
      <if test="returnType != null" >
        return_type,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="outerOrderNo != null" >
        #{outerOrderNo,jdbcType=BIGINT},
      </if>
      <if test="subOrderNo != null" >
        #{subOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="returnReason != null" >
        #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="returnReasonDetail != null" >
        #{returnReasonDetail,jdbcType=VARCHAR},
      </if>
      <if test="returnQuantity != null" >
        #{returnQuantity,jdbcType=INTEGER},
      </if>
      <if test="returnPrice != null" >
        #{returnPrice,jdbcType=DOUBLE},
      </if>
      <if test="isCivil != null" >
        #{isCivil,jdbcType=TINYINT},
      </if>
      <if test="isCheckin != null" >
        #{isCheckin,jdbcType=TINYINT},
      </if>
      <if test="customerOpenId != null" >
        #{customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnPayTime != null" >
        #{returnPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="returnRefer != null" >
        #{returnRefer,jdbcType=INTEGER},
      </if>
      <if test="proofImg != null" >
        #{proofImg,jdbcType=VARCHAR},
      </if>
      <if test="returnType != null" >
        #{returnType,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.MallReturnOrderDO" >
    update mall_return_order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="outerOrderNo != null" >
        outer_order_no = #{outerOrderNo,jdbcType=BIGINT},
      </if>
      <if test="subOrderNo != null" >
        sub_order_no = #{subOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="returnReason != null" >
        return_reason = #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="returnReasonDetail != null" >
        return_reason_detail = #{returnReasonDetail,jdbcType=VARCHAR},
      </if>
      <if test="returnQuantity != null" >
        return_quantity = #{returnQuantity,jdbcType=INTEGER},
      </if>
      <if test="returnPrice != null" >
        return_price = #{returnPrice,jdbcType=DOUBLE},
      </if>
      <if test="isCivil != null" >
        is_civil = #{isCivil,jdbcType=TINYINT},
      </if>
      <if test="isCheckin != null" >
        is_checkin = #{isCheckin,jdbcType=TINYINT},
      </if>
      <if test="customerOpenId != null" >
        customer_open_id = #{customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnPayTime != null" >
        return_pay_time = #{returnPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="returnRefer != null" >
        return_refer = #{returnRefer,jdbcType=INTEGER},
      </if>
      <if test="proofImg != null" >
        proof_img = #{proofImg,jdbcType=VARCHAR},
      </if>
      <if test="returnType != null" >
        return_type = #{returnType,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.MallReturnOrderDO" >
    update mall_return_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      outer_order_no = #{outerOrderNo,jdbcType=BIGINT},
      sub_order_no = #{subOrderNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      return_reason = #{returnReason,jdbcType=VARCHAR},
      return_reason_detail = #{returnReasonDetail,jdbcType=VARCHAR},
      return_quantity = #{returnQuantity,jdbcType=INTEGER},
      return_price = #{returnPrice,jdbcType=DOUBLE},
      is_civil = #{isCivil,jdbcType=TINYINT},
      is_checkin = #{isCheckin,jdbcType=TINYINT},
      customer_open_id = #{customerOpenId,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      return_pay_time = #{returnPayTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      return_refer = #{returnRefer,jdbcType=INTEGER},
      proof_img = #{proofImg,jdbcType=VARCHAR},
      return_type = #{returnType,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>