<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.MallCustomerMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, customer_no AS customerNo, open_id AS openId, union_id AS unionId, nick_name AS nickName, gender, city, province, country, portrait_url AS portraitUrl, refer, `role`, first_login_time AS firstLoginTime, last_login_time AS lastLoginTime, first_login_device AS firstLoginDevice, last_login_device AS lastLoginDevice, gmt_create AS gmtCreate, gmt_modify AS gmtModify, is_del AS isDel, creator, modifier, company_no AS companyNo, channel_no AS channelNo, shop_code AS shopCode
	</sql>

</mapper>