<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ShippingOrderDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shipping_no" property="shippingNo" jdbcType="VARCHAR" />
    <result column="logistic_no" property="logisticNo" jdbcType="VARCHAR" />
    <result column="logistic_company" property="logisticCompany" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="transfer_status" property="transferStatus" jdbcType="TINYINT" />
    <result column="sync_send_status" property="syncSendStatus" jdbcType="TINYINT" />
    <result column="tpl_pkg_status" property="tplPkgStatus" jdbcType="VARCHAR" />
    <result column="freight" property="freight" jdbcType="DOUBLE" />
    <result column="sku_weight" property="skuWeight" jdbcType="DOUBLE" />
    <result column="mall_orders" property="mallOrders" jdbcType="VARCHAR" />
    <result column="shipping_printer" property="shippingPrinter" jdbcType="VARCHAR" />
    <result column="gls_return_back" property="glsReturnBack" jdbcType="VARCHAR" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="receiver_state" property="receiverState" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_district" property="receiverDistrict" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="id_card_back" property="idCardBack" jdbcType="VARCHAR" />
    <result column="id_card_front" property="idCardFront" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shipping_no, logistic_no, logistic_company, type, status, transfer_status, sync_send_status, 
    tpl_pkg_status, freight, sku_weight, mall_orders, shipping_printer, gls_return_back, 
    receiver, receiver_state, receiver_city, receiver_district, address, telephone, postcode, 
    memo, id_card, id_card_back, id_card_front, gmt_create, gmt_modify, is_del, creator, 
    modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shipping_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shipping_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO" >
    insert into shipping_order (id, shipping_no, logistic_no, 
      logistic_company, type, status, 
      transfer_status, sync_send_status, tpl_pkg_status, 
      freight, sku_weight, mall_orders, 
      shipping_printer, gls_return_back, receiver, 
      receiver_state, receiver_city, receiver_district, 
      address, telephone, postcode, 
      memo, id_card, id_card_back, 
      id_card_front, gmt_create, gmt_modify, 
      is_del, creator, modifier
      )
    values (#{id,jdbcType=BIGINT}, #{shippingNo,jdbcType=VARCHAR}, #{logisticNo,jdbcType=VARCHAR}, 
      #{logisticCompany,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{transferStatus,jdbcType=TINYINT}, #{syncSendStatus,jdbcType=TINYINT}, #{tplPkgStatus,jdbcType=VARCHAR}, 
      #{freight,jdbcType=DOUBLE}, #{skuWeight,jdbcType=DOUBLE}, #{mallOrders,jdbcType=VARCHAR}, 
      #{shippingPrinter,jdbcType=VARCHAR}, #{glsReturnBack,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, 
      #{receiverState,jdbcType=VARCHAR}, #{receiverCity,jdbcType=VARCHAR}, #{receiverDistrict,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{idCardBack,jdbcType=VARCHAR}, 
      #{idCardFront,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO" >
    insert into shipping_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shippingNo != null" >
        shipping_no,
      </if>
      <if test="logisticNo != null" >
        logistic_no,
      </if>
      <if test="logisticCompany != null" >
        logistic_company,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="transferStatus != null" >
        transfer_status,
      </if>
      <if test="syncSendStatus != null" >
        sync_send_status,
      </if>
      <if test="tplPkgStatus != null" >
        tpl_pkg_status,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="skuWeight != null" >
        sku_weight,
      </if>
      <if test="mallOrders != null" >
        mall_orders,
      </if>
      <if test="shippingPrinter != null" >
        shipping_printer,
      </if>
      <if test="glsReturnBack != null" >
        gls_return_back,
      </if>
      <if test="receiver != null" >
        receiver,
      </if>
      <if test="receiverState != null" >
        receiver_state,
      </if>
      <if test="receiverCity != null" >
        receiver_city,
      </if>
      <if test="receiverDistrict != null" >
        receiver_district,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="postcode != null" >
        postcode,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="idCardBack != null" >
        id_card_back,
      </if>
      <if test="idCardFront != null" >
        id_card_front,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shippingNo != null" >
        #{shippingNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticNo != null" >
        #{logisticNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticCompany != null" >
        #{logisticCompany,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="transferStatus != null" >
        #{transferStatus,jdbcType=TINYINT},
      </if>
      <if test="syncSendStatus != null" >
        #{syncSendStatus,jdbcType=TINYINT},
      </if>
      <if test="tplPkgStatus != null" >
        #{tplPkgStatus,jdbcType=VARCHAR},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=DOUBLE},
      </if>
      <if test="skuWeight != null" >
        #{skuWeight,jdbcType=DOUBLE},
      </if>
      <if test="mallOrders != null" >
        #{mallOrders,jdbcType=VARCHAR},
      </if>
      <if test="shippingPrinter != null" >
        #{shippingPrinter,jdbcType=VARCHAR},
      </if>
      <if test="glsReturnBack != null" >
        #{glsReturnBack,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null" >
        #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardBack != null" >
        #{idCardBack,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null" >
        #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO" >
    update shipping_order
    <set >
      <if test="shippingNo != null" >
        shipping_no = #{shippingNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticNo != null" >
        logistic_no = #{logisticNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticCompany != null" >
        logistic_company = #{logisticCompany,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="transferStatus != null" >
        transfer_status = #{transferStatus,jdbcType=TINYINT},
      </if>
      <if test="syncSendStatus != null" >
        sync_send_status = #{syncSendStatus,jdbcType=TINYINT},
      </if>
      <if test="tplPkgStatus != null" >
        tpl_pkg_status = #{tplPkgStatus,jdbcType=VARCHAR},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=DOUBLE},
      </if>
      <if test="skuWeight != null" >
        sku_weight = #{skuWeight,jdbcType=DOUBLE},
      </if>
      <if test="mallOrders != null" >
        mall_orders = #{mallOrders,jdbcType=VARCHAR},
      </if>
      <if test="shippingPrinter != null" >
        shipping_printer = #{shippingPrinter,jdbcType=VARCHAR},
      </if>
      <if test="glsReturnBack != null" >
        gls_return_back = #{glsReturnBack,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null" >
        receiver_state = #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardBack != null" >
        id_card_back = #{idCardBack,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null" >
        id_card_front = #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO" >
    update shipping_order
    set shipping_no = #{shippingNo,jdbcType=VARCHAR},
      logistic_no = #{logisticNo,jdbcType=VARCHAR},
      logistic_company = #{logisticCompany,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      transfer_status = #{transferStatus,jdbcType=TINYINT},
      sync_send_status = #{syncSendStatus,jdbcType=TINYINT},
      tpl_pkg_status = #{tplPkgStatus,jdbcType=VARCHAR},
      freight = #{freight,jdbcType=DOUBLE},
      sku_weight = #{skuWeight,jdbcType=DOUBLE},
      mall_orders = #{mallOrders,jdbcType=VARCHAR},
      shipping_printer = #{shippingPrinter,jdbcType=VARCHAR},
      gls_return_back = #{glsReturnBack,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      receiver_state = #{receiverState,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      id_card_back = #{idCardBack,jdbcType=VARCHAR},
      id_card_front = #{idCardFront,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>