<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ShippingOrderDOMapper">
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shipping_no" jdbcType="VARCHAR" property="shippingNo" />
    <result column="logistic_no" jdbcType="VARCHAR" property="logisticNo" />
    <result column="logistic_company" jdbcType="VARCHAR" property="logisticCompany" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="transfer_status" jdbcType="TINYINT" property="transferStatus" />
    <result column="sync_send_status" jdbcType="TINYINT" property="syncSendStatus" />
    <result column="tpl_pkg_status" jdbcType="VARCHAR" property="tplPkgStatus" />
    <result column="freight" jdbcType="DOUBLE" property="freight" />
    <result column="sku_weight" jdbcType="DOUBLE" property="skuWeight" />
    <result column="mall_orders" jdbcType="VARCHAR" property="mallOrders" />
    <result column="shipping_printer" jdbcType="VARCHAR" property="shippingPrinter" />
    <result column="gls_return_back" jdbcType="VARCHAR" property="glsReturnBack" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="receiver_state" jdbcType="VARCHAR" property="receiverState" />
    <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
    <result column="receiver_district" jdbcType="VARCHAR" property="receiverDistrict" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="id_card_back" jdbcType="VARCHAR" property="idCardBack" />
    <result column="id_card_front" jdbcType="VARCHAR" property="idCardFront" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shipping_no, logistic_no, logistic_company, type, status, transfer_status, sync_send_status, 
    tpl_pkg_status, freight, sku_weight, mall_orders, shipping_printer, gls_return_back, 
    receiver, receiver_state, receiver_city, receiver_district, address, telephone, postcode, 
    memo, id_card, id_card_back, id_card_front, gmt_create, gmt_modify, is_del, creator, 
    modifier
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shipping_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shipping_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO">
    insert into shipping_order (id, shipping_no, logistic_no, 
      logistic_company, type, status, 
      transfer_status, sync_send_status, tpl_pkg_status, 
      freight, sku_weight, mall_orders, 
      shipping_printer, gls_return_back, receiver, 
      receiver_state, receiver_city, receiver_district, 
      address, telephone, postcode, 
      memo, id_card, id_card_back, 
      id_card_front, gmt_create, gmt_modify, 
      is_del, creator, modifier
      )
    values (#{id,jdbcType=BIGINT}, #{shippingNo,jdbcType=VARCHAR}, #{logisticNo,jdbcType=VARCHAR}, 
      #{logisticCompany,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{transferStatus,jdbcType=TINYINT}, #{syncSendStatus,jdbcType=TINYINT}, #{tplPkgStatus,jdbcType=VARCHAR}, 
      #{freight,jdbcType=DOUBLE}, #{skuWeight,jdbcType=DOUBLE}, #{mallOrders,jdbcType=VARCHAR}, 
      #{shippingPrinter,jdbcType=VARCHAR}, #{glsReturnBack,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, 
      #{receiverState,jdbcType=VARCHAR}, #{receiverCity,jdbcType=VARCHAR}, #{receiverDistrict,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{idCardBack,jdbcType=VARCHAR}, 
      #{idCardFront,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO">
    insert into shipping_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shippingNo != null">
        shipping_no,
      </if>
      <if test="logisticNo != null">
        logistic_no,
      </if>
      <if test="logisticCompany != null">
        logistic_company,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="transferStatus != null">
        transfer_status,
      </if>
      <if test="syncSendStatus != null">
        sync_send_status,
      </if>
      <if test="tplPkgStatus != null">
        tpl_pkg_status,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="skuWeight != null">
        sku_weight,
      </if>
      <if test="mallOrders != null">
        mall_orders,
      </if>
      <if test="shippingPrinter != null">
        shipping_printer,
      </if>
      <if test="glsReturnBack != null">
        gls_return_back,
      </if>
      <if test="receiver != null">
        receiver,
      </if>
      <if test="receiverState != null">
        receiver_state,
      </if>
      <if test="receiverCity != null">
        receiver_city,
      </if>
      <if test="receiverDistrict != null">
        receiver_district,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="idCardBack != null">
        id_card_back,
      </if>
      <if test="idCardFront != null">
        id_card_front,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shippingNo != null">
        #{shippingNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticNo != null">
        #{logisticNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticCompany != null">
        #{logisticCompany,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="transferStatus != null">
        #{transferStatus,jdbcType=TINYINT},
      </if>
      <if test="syncSendStatus != null">
        #{syncSendStatus,jdbcType=TINYINT},
      </if>
      <if test="tplPkgStatus != null">
        #{tplPkgStatus,jdbcType=VARCHAR},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=DOUBLE},
      </if>
      <if test="skuWeight != null">
        #{skuWeight,jdbcType=DOUBLE},
      </if>
      <if test="mallOrders != null">
        #{mallOrders,jdbcType=VARCHAR},
      </if>
      <if test="shippingPrinter != null">
        #{shippingPrinter,jdbcType=VARCHAR},
      </if>
      <if test="glsReturnBack != null">
        #{glsReturnBack,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null">
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null">
        #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null">
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null">
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardBack != null">
        #{idCardBack,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null">
        #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO">
    update shipping_order
    <set>
      <if test="shippingNo != null">
        shipping_no = #{shippingNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticNo != null">
        logistic_no = #{logisticNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticCompany != null">
        logistic_company = #{logisticCompany,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="transferStatus != null">
        transfer_status = #{transferStatus,jdbcType=TINYINT},
      </if>
      <if test="syncSendStatus != null">
        sync_send_status = #{syncSendStatus,jdbcType=TINYINT},
      </if>
      <if test="tplPkgStatus != null">
        tpl_pkg_status = #{tplPkgStatus,jdbcType=VARCHAR},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=DOUBLE},
      </if>
      <if test="skuWeight != null">
        sku_weight = #{skuWeight,jdbcType=DOUBLE},
      </if>
      <if test="mallOrders != null">
        mall_orders = #{mallOrders,jdbcType=VARCHAR},
      </if>
      <if test="shippingPrinter != null">
        shipping_printer = #{shippingPrinter,jdbcType=VARCHAR},
      </if>
      <if test="glsReturnBack != null">
        gls_return_back = #{glsReturnBack,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null">
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null">
        receiver_state = #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null">
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null">
        receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardBack != null">
        id_card_back = #{idCardBack,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null">
        id_card_front = #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO">
    update shipping_order
    set shipping_no = #{shippingNo,jdbcType=VARCHAR},
      logistic_no = #{logisticNo,jdbcType=VARCHAR},
      logistic_company = #{logisticCompany,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      transfer_status = #{transferStatus,jdbcType=TINYINT},
      sync_send_status = #{syncSendStatus,jdbcType=TINYINT},
      tpl_pkg_status = #{tplPkgStatus,jdbcType=VARCHAR},
      freight = #{freight,jdbcType=DOUBLE},
      sku_weight = #{skuWeight,jdbcType=DOUBLE},
      mall_orders = #{mallOrders,jdbcType=VARCHAR},
      shipping_printer = #{shippingPrinter,jdbcType=VARCHAR},
      gls_return_back = #{glsReturnBack,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      receiver_state = #{receiverState,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      id_card_back = #{idCardBack,jdbcType=VARCHAR},
      id_card_front = #{idCardFront,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shipping_no" jdbcType="VARCHAR" property="shippingNo" />
    <result column="logistic_no" jdbcType="VARCHAR" property="logisticNo" />
    <result column="logistic_company" jdbcType="VARCHAR" property="logisticCompany" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="transfer_status" jdbcType="TINYINT" property="transferStatus" />
    <result column="sync_send_status" jdbcType="TINYINT" property="syncSendStatus" />
    <result column="tpl_pkg_status" jdbcType="VARCHAR" property="tplPkgStatus" />
    <result column="freight" jdbcType="DOUBLE" property="freight" />
    <result column="sku_weight" jdbcType="DOUBLE" property="skuWeight" />
    <result column="mall_orders" jdbcType="VARCHAR" property="mallOrders" />
    <result column="shipping_printer" jdbcType="VARCHAR" property="shippingPrinter" />
    <result column="gls_return_back" jdbcType="VARCHAR" property="glsReturnBack" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="receiver_state" jdbcType="VARCHAR" property="receiverState" />
    <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
    <result column="receiver_district" jdbcType="VARCHAR" property="receiverDistrict" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="id_card_back" jdbcType="VARCHAR" property="idCardBack" />
    <result column="id_card_front" jdbcType="VARCHAR" property="idCardFront" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shipping_no, logistic_no, logistic_company, type, status, transfer_status, sync_send_status, 
    tpl_pkg_status, freight, sku_weight, mall_orders, shipping_printer, gls_return_back, 
    receiver, receiver_state, receiver_city, receiver_district, address, telephone, postcode, 
    memo, id_card, id_card_back, id_card_front, gmt_create, gmt_modify, is_del, creator, 
    modifier
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shipping_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shipping_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO">
    insert into shipping_order (id, shipping_no, logistic_no, 
      logistic_company, type, status, 
      transfer_status, sync_send_status, tpl_pkg_status, 
      freight, sku_weight, mall_orders, 
      shipping_printer, gls_return_back, receiver, 
      receiver_state, receiver_city, receiver_district, 
      address, telephone, postcode, 
      memo, id_card, id_card_back, 
      id_card_front, gmt_create, gmt_modify, 
      is_del, creator, modifier
      )
    values (#{id,jdbcType=BIGINT}, #{shippingNo,jdbcType=VARCHAR}, #{logisticNo,jdbcType=VARCHAR}, 
      #{logisticCompany,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{transferStatus,jdbcType=TINYINT}, #{syncSendStatus,jdbcType=TINYINT}, #{tplPkgStatus,jdbcType=VARCHAR}, 
      #{freight,jdbcType=DOUBLE}, #{skuWeight,jdbcType=DOUBLE}, #{mallOrders,jdbcType=VARCHAR}, 
      #{shippingPrinter,jdbcType=VARCHAR}, #{glsReturnBack,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, 
      #{receiverState,jdbcType=VARCHAR}, #{receiverCity,jdbcType=VARCHAR}, #{receiverDistrict,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{idCardBack,jdbcType=VARCHAR}, 
      #{idCardFront,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO">
    insert into shipping_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shippingNo != null">
        shipping_no,
      </if>
      <if test="logisticNo != null">
        logistic_no,
      </if>
      <if test="logisticCompany != null">
        logistic_company,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="transferStatus != null">
        transfer_status,
      </if>
      <if test="syncSendStatus != null">
        sync_send_status,
      </if>
      <if test="tplPkgStatus != null">
        tpl_pkg_status,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="skuWeight != null">
        sku_weight,
      </if>
      <if test="mallOrders != null">
        mall_orders,
      </if>
      <if test="shippingPrinter != null">
        shipping_printer,
      </if>
      <if test="glsReturnBack != null">
        gls_return_back,
      </if>
      <if test="receiver != null">
        receiver,
      </if>
      <if test="receiverState != null">
        receiver_state,
      </if>
      <if test="receiverCity != null">
        receiver_city,
      </if>
      <if test="receiverDistrict != null">
        receiver_district,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="idCardBack != null">
        id_card_back,
      </if>
      <if test="idCardFront != null">
        id_card_front,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shippingNo != null">
        #{shippingNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticNo != null">
        #{logisticNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticCompany != null">
        #{logisticCompany,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="transferStatus != null">
        #{transferStatus,jdbcType=TINYINT},
      </if>
      <if test="syncSendStatus != null">
        #{syncSendStatus,jdbcType=TINYINT},
      </if>
      <if test="tplPkgStatus != null">
        #{tplPkgStatus,jdbcType=VARCHAR},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=DOUBLE},
      </if>
      <if test="skuWeight != null">
        #{skuWeight,jdbcType=DOUBLE},
      </if>
      <if test="mallOrders != null">
        #{mallOrders,jdbcType=VARCHAR},
      </if>
      <if test="shippingPrinter != null">
        #{shippingPrinter,jdbcType=VARCHAR},
      </if>
      <if test="glsReturnBack != null">
        #{glsReturnBack,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null">
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null">
        #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null">
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null">
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardBack != null">
        #{idCardBack,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null">
        #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO">
    update shipping_order
    <set>
      <if test="shippingNo != null">
        shipping_no = #{shippingNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticNo != null">
        logistic_no = #{logisticNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticCompany != null">
        logistic_company = #{logisticCompany,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="transferStatus != null">
        transfer_status = #{transferStatus,jdbcType=TINYINT},
      </if>
      <if test="syncSendStatus != null">
        sync_send_status = #{syncSendStatus,jdbcType=TINYINT},
      </if>
      <if test="tplPkgStatus != null">
        tpl_pkg_status = #{tplPkgStatus,jdbcType=VARCHAR},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=DOUBLE},
      </if>
      <if test="skuWeight != null">
        sku_weight = #{skuWeight,jdbcType=DOUBLE},
      </if>
      <if test="mallOrders != null">
        mall_orders = #{mallOrders,jdbcType=VARCHAR},
      </if>
      <if test="shippingPrinter != null">
        shipping_printer = #{shippingPrinter,jdbcType=VARCHAR},
      </if>
      <if test="glsReturnBack != null">
        gls_return_back = #{glsReturnBack,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null">
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null">
        receiver_state = #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null">
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null">
        receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardBack != null">
        id_card_back = #{idCardBack,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null">
        id_card_front = #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingOrderDO">
    update shipping_order
    set shipping_no = #{shippingNo,jdbcType=VARCHAR},
      logistic_no = #{logisticNo,jdbcType=VARCHAR},
      logistic_company = #{logisticCompany,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      transfer_status = #{transferStatus,jdbcType=TINYINT},
      sync_send_status = #{syncSendStatus,jdbcType=TINYINT},
      tpl_pkg_status = #{tplPkgStatus,jdbcType=VARCHAR},
      freight = #{freight,jdbcType=DOUBLE},
      sku_weight = #{skuWeight,jdbcType=DOUBLE},
      mall_orders = #{mallOrders,jdbcType=VARCHAR},
      shipping_printer = #{shippingPrinter,jdbcType=VARCHAR},
      gls_return_back = #{glsReturnBack,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      receiver_state = #{receiverState,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      id_card_back = #{idCardBack,jdbcType=VARCHAR},
      id_card_front = #{idCardFront,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>