<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ShippingTrackPollingYuntongDOMapper">
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="waybill_no" jdbcType="VARCHAR" property="waybillNo" />
    <result column="inland_trans_code" jdbcType="VARCHAR" property="inlandTransCode" />
    <result column="inland_trans_company_name" jdbcType="VARCHAR" property="inlandTransCompanyName" />
    <result column="current_status" jdbcType="VARCHAR" property="currentStatus" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
  </resultMap>
  <sql id="Base_Column_List">
    id, waybill_no, inland_trans_code, inland_trans_company_name, current_status, status_time, 
    gmt_create, gmt_modify, is_del, creator, modifier
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shipping_track_polling_yuntong
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shipping_track_polling_yuntong
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO">
    insert into shipping_track_polling_yuntong (id, waybill_no, inland_trans_code, 
      inland_trans_company_name, current_status, 
      status_time, gmt_create, gmt_modify, 
      is_del, creator, modifier
      )
    values (#{id,jdbcType=BIGINT}, #{waybillNo,jdbcType=VARCHAR}, #{inlandTransCode,jdbcType=VARCHAR}, 
      #{inlandTransCompanyName,jdbcType=VARCHAR}, #{currentStatus,jdbcType=VARCHAR}, 
      #{statusTime,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO">
    insert into shipping_track_polling_yuntong
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waybillNo != null">
        waybill_no,
      </if>
      <if test="inlandTransCode != null">
        inland_trans_code,
      </if>
      <if test="inlandTransCompanyName != null">
        inland_trans_company_name,
      </if>
      <if test="currentStatus != null">
        current_status,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="waybillNo != null">
        #{waybillNo,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCode != null">
        #{inlandTransCode,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCompanyName != null">
        #{inlandTransCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="currentStatus != null">
        #{currentStatus,jdbcType=VARCHAR},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO">
    update shipping_track_polling_yuntong
    <set>
      <if test="waybillNo != null">
        waybill_no = #{waybillNo,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCode != null">
        inland_trans_code = #{inlandTransCode,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCompanyName != null">
        inland_trans_company_name = #{inlandTransCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="currentStatus != null">
        current_status = #{currentStatus,jdbcType=VARCHAR},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO">
    update shipping_track_polling_yuntong
    set waybill_no = #{waybillNo,jdbcType=VARCHAR},
      inland_trans_code = #{inlandTransCode,jdbcType=VARCHAR},
      inland_trans_company_name = #{inlandTransCompanyName,jdbcType=VARCHAR},
      current_status = #{currentStatus,jdbcType=VARCHAR},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="waybill_no" jdbcType="VARCHAR" property="waybillNo" />
    <result column="inland_trans_code" jdbcType="VARCHAR" property="inlandTransCode" />
    <result column="inland_trans_company_name" jdbcType="VARCHAR" property="inlandTransCompanyName" />
    <result column="current_status" jdbcType="VARCHAR" property="currentStatus" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
  </resultMap>
  <sql id="Base_Column_List">
    id, waybill_no, inland_trans_code, inland_trans_company_name, current_status, status_time, 
    gmt_create, gmt_modify, is_del, creator, modifier
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shipping_track_polling_yuntong
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shipping_track_polling_yuntong
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO">
    insert into shipping_track_polling_yuntong (id, waybill_no, inland_trans_code, 
      inland_trans_company_name, current_status, 
      status_time, gmt_create, gmt_modify, 
      is_del, creator, modifier
      )
    values (#{id,jdbcType=BIGINT}, #{waybillNo,jdbcType=VARCHAR}, #{inlandTransCode,jdbcType=VARCHAR}, 
      #{inlandTransCompanyName,jdbcType=VARCHAR}, #{currentStatus,jdbcType=VARCHAR}, 
      #{statusTime,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO">
    insert into shipping_track_polling_yuntong
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waybillNo != null">
        waybill_no,
      </if>
      <if test="inlandTransCode != null">
        inland_trans_code,
      </if>
      <if test="inlandTransCompanyName != null">
        inland_trans_company_name,
      </if>
      <if test="currentStatus != null">
        current_status,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="waybillNo != null">
        #{waybillNo,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCode != null">
        #{inlandTransCode,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCompanyName != null">
        #{inlandTransCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="currentStatus != null">
        #{currentStatus,jdbcType=VARCHAR},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO">
    update shipping_track_polling_yuntong
    <set>
      <if test="waybillNo != null">
        waybill_no = #{waybillNo,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCode != null">
        inland_trans_code = #{inlandTransCode,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCompanyName != null">
        inland_trans_company_name = #{inlandTransCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="currentStatus != null">
        current_status = #{currentStatus,jdbcType=VARCHAR},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO">
    update shipping_track_polling_yuntong
    set waybill_no = #{waybillNo,jdbcType=VARCHAR},
      inland_trans_code = #{inlandTransCode,jdbcType=VARCHAR},
      inland_trans_company_name = #{inlandTransCompanyName,jdbcType=VARCHAR},
      current_status = #{currentStatus,jdbcType=VARCHAR},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>