<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ShippingTrackPollingYuntongDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="waybill_no" property="waybillNo" jdbcType="VARCHAR" />
    <result column="inland_trans_code" property="inlandTransCode" jdbcType="VARCHAR" />
    <result column="inland_trans_company_name" property="inlandTransCompanyName" jdbcType="VARCHAR" />
    <result column="current_status" property="currentStatus" jdbcType="VARCHAR" />
    <result column="status_time" property="statusTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, waybill_no, inland_trans_code, inland_trans_company_name, current_status, status_time, 
    creator, modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shipping_track_polling_yuntong
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shipping_track_polling_yuntong
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shipping_track_polling_yuntong (waybill_no, inland_trans_code, inland_trans_company_name, 
      current_status, status_time, creator, 
      modifier)
    values (#{waybillNo,jdbcType=VARCHAR}, #{inlandTransCode,jdbcType=VARCHAR}, #{inlandTransCompanyName,jdbcType=VARCHAR}, 
      #{currentStatus,jdbcType=VARCHAR}, #{statusTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shipping_track_polling_yuntong
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="waybillNo != null" >
        waybill_no,
      </if>
      <if test="inlandTransCode != null" >
        inland_trans_code,
      </if>
      <if test="inlandTransCompanyName != null" >
        inland_trans_company_name,
      </if>
      <if test="currentStatus != null" >
        current_status,
      </if>
      <if test="statusTime != null" >
        status_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="waybillNo != null" >
        #{waybillNo,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCode != null" >
        #{inlandTransCode,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCompanyName != null" >
        #{inlandTransCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="currentStatus != null" >
        #{currentStatus,jdbcType=VARCHAR},
      </if>
      <if test="statusTime != null" >
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO" >
    update shipping_track_polling_yuntong
    <set >
      <if test="waybillNo != null" >
        waybill_no = #{waybillNo,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCode != null" >
        inland_trans_code = #{inlandTransCode,jdbcType=VARCHAR},
      </if>
      <if test="inlandTransCompanyName != null" >
        inland_trans_company_name = #{inlandTransCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="currentStatus != null" >
        current_status = #{currentStatus,jdbcType=VARCHAR},
      </if>
      <if test="statusTime != null" >
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPollingYuntongDO" >
    update shipping_track_polling_yuntong
    set waybill_no = #{waybillNo,jdbcType=VARCHAR},
      inland_trans_code = #{inlandTransCode,jdbcType=VARCHAR},
      inland_trans_company_name = #{inlandTransCompanyName,jdbcType=VARCHAR},
      current_status = #{currentStatus,jdbcType=VARCHAR},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>