<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.ShippingTrackPolling4pxDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPolling4pxDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="delivery_no" property="deliveryNo" jdbcType="VARCHAR" />
    <result column="shipping_no" property="shippingNo" jdbcType="VARCHAR" />
    <result column="is_normal" property="isNormal" jdbcType="INTEGER" />
    <result column="track_info" property="trackInfo" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, delivery_no, shipping_no, is_normal, track_info, creator, modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shipping_track_polling_4px
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shipping_track_polling_4px
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPolling4pxDO" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shipping_track_polling_4px (delivery_no, shipping_no, is_normal, 
      track_info, creator, modifier
      )
    values (#{deliveryNo,jdbcType=VARCHAR}, #{shippingNo,jdbcType=VARCHAR}, #{isNormal,jdbcType=INTEGER}, 
      #{trackInfo,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPolling4pxDO" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shipping_track_polling_4px
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deliveryNo != null" >
        delivery_no,
      </if>
      <if test="shippingNo != null" >
        shipping_no,
      </if>
      <if test="isNormal != null" >
        is_normal,
      </if>
      <if test="trackInfo != null" >
        track_info,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deliveryNo != null" >
        #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="shippingNo != null" >
        #{shippingNo,jdbcType=VARCHAR},
      </if>
      <if test="isNormal != null" >
        #{isNormal,jdbcType=INTEGER},
      </if>
      <if test="trackInfo != null" >
        #{trackInfo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPolling4pxDO" >
    update shipping_track_polling_4px
    <set >
      <if test="deliveryNo != null" >
        delivery_no = #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="shippingNo != null" >
        shipping_no = #{shippingNo,jdbcType=VARCHAR},
      </if>
      <if test="isNormal != null" >
        is_normal = #{isNormal,jdbcType=INTEGER},
      </if>
      <if test="trackInfo != null" >
        track_info = #{trackInfo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.ShippingTrackPolling4pxDO" >
    update shipping_track_polling_4px
    set delivery_no = #{deliveryNo,jdbcType=VARCHAR},
      shipping_no = #{shippingNo,jdbcType=VARCHAR},
      is_normal = #{isNormal,jdbcType=INTEGER},
      track_info = #{trackInfo,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>