<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangqin.globalshop.biz1.app.dal.mapper.SiteMsgReadDOMapper" >
  <resultMap id="BaseResultMap" type="com.wangqin.globalshop.biz1.app.dal.dataObject.SiteMsgReadDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="site_msg_id" property="siteMsgId" jdbcType="BIGINT" />
    <result column="receiver_id" property="receiverId" jdbcType="BIGINT" />
    <result column="read_status" property="readStatus" jdbcType="TINYINT" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="sender_id" property="senderId" jdbcType="BIGINT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, site_msg_id, receiver_id, read_status, gmt_modified, sender_id, creator, modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from site_msg_read
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from site_msg_read
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.SiteMsgReadDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into site_msg_read (site_msg_id, receiver_id, read_status, 
      gmt_modified, sender_id, creator, 
      modifier)
    values (#{siteMsgId,jdbcType=BIGINT}, #{receiverId,jdbcType=BIGINT}, #{readStatus,jdbcType=TINYINT}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{senderId,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.SiteMsgReadDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into site_msg_read
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="siteMsgId != null" >
        site_msg_id,
      </if>
      <if test="receiverId != null" >
        receiver_id,
      </if>
      <if test="readStatus != null" >
        read_status,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="senderId != null" >
        sender_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="siteMsgId != null" >
        #{siteMsgId,jdbcType=BIGINT},
      </if>
      <if test="receiverId != null" >
        #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="readStatus != null" >
        #{readStatus,jdbcType=TINYINT},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="senderId != null" >
        #{senderId,jdbcType=BIGINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.SiteMsgReadDO" >
    update site_msg_read
    <set >
      <if test="siteMsgId != null" >
        site_msg_id = #{siteMsgId,jdbcType=BIGINT},
      </if>
      <if test="receiverId != null" >
        receiver_id = #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="readStatus != null" >
        read_status = #{readStatus,jdbcType=TINYINT},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="senderId != null" >
        sender_id = #{senderId,jdbcType=BIGINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangqin.globalshop.biz1.app.dal.dataObject.SiteMsgReadDO" >
    update site_msg_read
    set site_msg_id = #{siteMsgId,jdbcType=BIGINT},
      receiver_id = #{receiverId,jdbcType=BIGINT},
      read_status = #{readStatus,jdbcType=TINYINT},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      sender_id = #{senderId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>